body {
    background-color: #fff;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
p {
    color: #333;
}
.green {
    color: #8dc153;
}
#header {
    background-color: #c8d5f3;
    background-color: #eee;
    height: 130px;
}
.navbar-default .navbar-brand {
    color: #07349d;
    color: #3566cb;
}
.nav-justified> li> a {
    background: transparent;
    padding: 5px 5px;
    margin: 0 10px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid white; 
}
.narbar-header h2 {
   color: #6794F0;
}
.nav > li {
    background-color: none;
}
.nav > li > a:hover span, 
.nav > li > a:focus span{
    background-color: none;
    color: #07349d;
    color: #3566cb;    
}
#header .navbar-default {
    border-bottom: 1px solid;
    border-color: rgba(253, 253, 253, 1);
}
#header .navbar-default .navbar-nav > li > a span {
    text-shadow: none;
   color: #07349d;
   max-width: 120px;
}
.navbar-brand a {
   color: #fff;
}
.affix {
    position: fixed; 
    top: 100px; 
}
.carousel-image {
    background-color: #04287d;
    background-color: #6794F0;
    background-color: #3566cb;
    background-image: url('../images/water-pattern.jpg');
    background-repeat: repeat-x;
    background-position:center bottom;
    margin-top: 90px;
}

a.hover, a.focus {
    background-color: none;
}
img-polorid {
}
section {
    margin-bottom: 70px;
}
section h1{
    text-align:center;
}
#basement-draintile .panel-body,
#crack-repair .panel-body{
    text-align: left;
}
.repair-img .img-thumbnail{
    margin-top: 20px;
}
.pane-heading {
    background-color: grey;
    height: 300px;
}
.panel-body{
    padding: 0 20px 20px 0;
}
.panel.panel-big .panel-body p {
    color: #444444;
    padding: 0;
}
.panel-body p {
    text-align: left;
}
.panel.panel-big .icon-box .icon {
color: #3566cb;
display: inline-block;
font-size: 20px;
line-height: 30px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 30px;
height: 30px;
}
.h3 small {
    font-size: 16px;
}
.lead.lead-lg {
margin-bottom: 20px;
}
.circle-stats .circle-stat-small canvas {
max-width: 60px;
max-height: 60px;
}
.circle-stats .percent {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 30px;
    margin-top: -15px;
    margin-bottom: 0px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    color: rgb(67, 73, 85);
}
a:hover, a:focus {
    color: #676f7a;
   /* color: #eee;*/
   text-decoration: none;
}
@media (min-width: 768px) {
    .nav-justified > li > a {
        border-bottom: none;
    }
    .navbar-default .navbar-brand {
        max-width: 300px;
    }
}
@media (min-width: 992px) {
    .navbar-default .navbar-brand {
    }
}
