article, aside, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
body {
    background-color: #fff;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
p {
    color: #333;
    color: #676f7a;
}
.green {
    color: #8dc153;
}
#header {
    background-color: #e8e8e8;
    height: 120px;
}
#header .navbar {
        height: 92px;
    }
.navbar-default .navbar-brand {
    color: #3566cb;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    border-bottom: 2px solid #3566cb;
}
.nav-justified> li> a {
    background: transparent;
    padding: 5px 5px;
    margin: 0 10px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid white; 
}
.narbar-header h2 {
   color: #676f7a;
}
.nav > li {
    background-color: none;
    color: #676f7a;
    padding: 0 0 0 7px;
}
#header .navbar-default .navbar-nav > li > a span {
    text-shadow: none;
    background-color: none;
    font-weight: 400;
    color: #676f7a;
}
#header .navbar-default .navbar-nav > li > a:hover span, #header .navbar-default .navbar-nav > li > a:focus span {
    color: rgb(156, 164, 175);
    border-bottom-color: rgb(156, 164, 175);
    
}
.nav > li > a:hover span,
.nav > li > a:focus span {
    background-color: none;
}
    #header .navbar-default .navbar-collapse {
        background-color: #e8e8e8;
    }
    #header .navbar-default {    
    border-bottom: 2px solid #fff;
    margin: 0 7px;
}
.affix {
    position: fixed; 
    top: 100px; 
}
.phone {
    z-index: 10;
    position: absolute;
    top: 75px;
    right: 50px;
}
.main {
    max-width: 1920px;
}
.hero-carousel {
    background-color: #123787;
    margin-top: 90px;
    width: 100%;
}
.carousel-image {
    background-image: url('../images/water-wide.jpg');
    background-repeat: repeat-x;
    background-position:center bottom;
}
    .carousel-image .big {
        font-size: 48px;
    }

a.hover, a.focus {
    background-color: none;
}
img-polorid {
}
section {
    margin-bottom: 50px;
}
section h1{
    text-align:center;
}
#basement-draintile .panel-body,
#crack-repair .panel-body{
    text-align: left;
}
.testimonial {
    margin-left: 7%;
    margin-right: 7%;
}
.repair-img .img-thumbnail{
    margin-top: 20px;
}
.pane-heading {
    background-color: grey;
    height: 300px;
}
.panel-body{
    padding: 0 20px 20px 0;
}
.panel.panel-big .panel-body p {
    color: #444444;
    padding: 0;
}
.panel-body p {
    text-align: left;
}
.panel.panel-big .icon-box .icon {
color: #3566cb;
display: inline-block;
font-size: 20px;
line-height: 30px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 30px;
height: 30px;
}
.h3 small {
    font-size: 16px;
}
.lead.lead-lg {
margin-bottom: 20px;
}
.circle-stats .circle-stat-small canvas {
max-width: 60px;
max-height: 60px;
}
.circle-stats .percent {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    height: 30px;
    margin-top: -15px;
    margin-bottom: 0px;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    color: rgb(67, 73, 85);
}

.icon-water {
    background-image: url('../images/meta_icons/water-drop.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;   
}
.icon-crack {
    background-image: url('../images/meta_icons/crack.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
}
.icon-intrusion {
    background-image: url('../images/meta_icons/intrusion.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
}
.icon-crawlspace {
    background-image: url('../images/meta_icons/crawlspace.png');
    background-repeat: no-repeat;
    background-position:center center;
   background-size: 60px;
}
.icon-drain-tile {
    background-image: url('../images/meta_icons/drain-tile.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
}
.icon-contact {
    background-image: url('../images/meta_icons/contact.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
    height: 60px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
}
.icon-first {
    background-image: url('../images/meta_icons/encapsulation.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
}
.icon-workers {
    background-image: url('../images/meta_icons/workers-1.png');
    background-repeat: no-repeat;
    background-position:center center;
    background-size: 60px;
}
.contacts {
    width: 50%;
    background-position:bottom right;
    
}
.panel.panel-big .panel-icon .icon .icon-intrusion {
    border-radius: 5px;
}
a:hover, a:focus {
    color: #676f7a;
   /* color: #eee;*/
   text-decoration: none;
}
/*__________video__________*/
.flex-video {
position: relative;
padding-top: 25px;
padding-bottom: 67.5%;
height: 0;
margin-bottom: 16px;
overflow: hidden;
}
.flex-video.widescreen { padding-bottom: 57.25%; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
    .flex-video {
        padding-top: 0;
    }
}
@media (min-width: 768px) {
    .nav-justified > li > a {
        border-bottom: none;
    }
    .navbar-default .navbar-brand {
        max-width: 280px;
    }
   
    #header .navbar-default .navbar-nav > li > a span {
        max-width: 120px;
    }
}
@media (min-width: 992px) {
    .navbar-default .navbar-brand {
        max-width: none;
    } 
    .nav > li {
    padding-left: 17px;
   
    }
    #header .navbar-default .navbar-nav > li > a span {
       
    }
}
