body {
    background-color: #fff;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}
#header {
    background-color: #c8d5f3;
    background-color: #eee;
}
.navbar-brand h2 {
    color: #07349d;
}
.nav-justified> li> a {
    background: transparent;
    padding: 5px 5px;
    margin: 0 10px;
    font-size: 14px;
    text-align: left;
}
.narbar-header h2 {
   color: #6794F0;
}
.nav > li {
    background-color: none;
}
.nav > li > a:hover span, 
.nav > li > a:focus span{
    background-color: none;
    color: #07349d; 
}
.affix {
    position: fixed; 
    top: 100px; 
}
img-polorid {

}
.panel-body p {
    text-align: left;
}
section {
    margin-bottom: 70px;
}
.carousel-image {
    background-color: #04287d;
    background-color: #6794F0;
    background-color: #3566cb;
    background-image: url('../images/water-pattern.jpg');
    background-repeat: repeat-x;
    background-position:center bottom;
    margin-top: 90px;
}
#header .navbar-default {
    border-bottom: 1px solid;
    border-color: rgba(253, 253, 253, 1);
}
#header .navbar-default .navbar-nav > li > a span {
    text-shadow: none;
    color: #07349d;
} 
.navbar-brand a {
   color: #fff;
}
a.hover, a.focus {
    background-color: none;
}
.lead.lead-lg {
margin-bottom: 20px;
}
.panel.panel-big .panel-body {
padding: 30px 0 0 10px;
}
