@{
    ViewBag.Title = "ThankYou";
}

<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="thank-you">
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <img src="~/assets/images/thank-you-note1.png" />
                                </div>
                                <div class='panel-body'>
                                    <div class="container">

                                      <div class='panel-title text-left' style='margin-top:150px;'>
                                            <h2>  Why Polyurethane?</h2>
                                                <div class="col-sm-4 repair-img">
                                                <img src="~/assets/images/slide-img-1.jpg" class="img-responsive img-thumbnail img-polaroid" title='typical polturea application' alt="Appling Polurea coating" />
                                                <div class="caption text-center">
                                                    <h4>spraying Polurea coating</h4>
                                                </div>
                                                </div>
                                            
                                        <p class="lead">
                                            Polyurea has been a widely used material for over 20 years, and its end applications are only limited by our imaginations. This material holds excellent physical characteristics and properties, and is used today in a rapidly growing number of applications.
                                        </p>
                                        <p class="lead">
                                            High Tech Waterproofing, LLC is an applicator of multiple polyurea formulations, supplied through a strategic
                                            partnership with a polyurea manufacturer based in the Midwest. We apply high quality and very competitive formulations that can be used on standard applications, or be tailored to meet application specific needs.
                                        </p>
                                        <p class="lead">Our polyurea coatings are made in the USA!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


</div>