@{
    ViewBag.Title = "BasementDrainTileSystem";
}
      
<div id='main-content'>
    <div class="container">
        <section id="basement-draintile">
            <div class="row">
                <div class="col-sm-8">

                    <h1>Basement Drain Tile System</h1>
                    <p class="lead lead-md">
                        Basement seepage and standing water issues can be common in homes that do not have a drain tile system. A properly installed drain tile system can effectively route and remove excess rain water that collects along your foundation and beneath your basement floor slab. Hydrostatic pressure, from the earth surrounding your home, pushes this excess rain water into cracks and voids in your basement floor and foundation walls.
                    <br />
                        <br />
                        We have a system that can relieve Hydrostatic pressure at the points where water comes in, which then allows us to effectively direct and remove the excess water before it enters your living space. 
                    </p>

                </div>
                <div class="col-sm-4"><br /><br /><br />
                    <img src="~/assets/images/Basement-drain-tile.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 90%;" title='basement drain tile' alt="basement drain tile" />
                    <div class="caption text-center">
                        <h4>Basement Drain Tile</h4>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
                <div class='panels-wrapper'>
                    <div class='row panels'>
                        <div class="col-sm-12">
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-tint icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <h3 class="title">Below is a step by step procedure, call for a free estimate, and we can install a system for your home:</h3>
                                    <div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='20'>
                                                        <h4 class='percent text-center'>1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">We plan the system in advance, so that we know where to locate the new sump pump and discharge.</h4>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='40'>
                                                        <h4 class='percent text-center'>2</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">We remove about 10-12” of the existing concrete floor around the INSIDE perimeter of the basement. We call this the “breakout”.
                                            </h4>
                                            <p>
                                                The concrete and soil we breakout will be hauled away.
                                            </p>
                                            <p>We make sure we find the foundation wall footing, so we can install our drain tile just below the top of it.  </p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='60'>
                                                        <h4 class='percent text-center'>3</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">Once the perimeter concrete is removed, we trench the perimeter so that we can install a 4” diameter perforated plastic drain tile.
                                            </h4>
                                            <p>
                                                Our drain tile includes a filter wrap to prevent soil from entering the tile and potentially clogging the pathway.
                                            </p>
                                            <p>
                                                This drain tile is connected at both end to a plastic sump pit where we will install a sump pump. 
                                            </p>
                                            <p>
                                                To help catch any water that might come through the foundation wall, we install a drainage board curb, designed to direct water into the new drain tile system.
                                            </p>
                                            <p>
                                                The drain tile trench gets backfilled with drainage stone that will create an easy collection system for ground water.   
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='80'>
                                                        <h4 class='percent '>4</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">Once the drain tile and stone is in place, we coat the trench with minimum 2” concrete and smooth finish it flush with the existing basement floor slab.
                                            </h4>
                                            <p>
                                                We use a durable 1060P or equivalent concrete mix. 
                                            </p>
                                            <p>
                                                Now we can sweep the area clean, and move to the final step 
                                            </p>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden text-center' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='100'>
                                                        <h4 class='percent'>5</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">Finally, we install the new sump pump, which will be located in the new sump pit we installed previously.
                                            </h4>
                                            <p>
                                                We use high quality Zoeller sump pumps and check valves, that carry a 3 year manufacturers warranty.
                                            </p>
                                            <p>
                                                Our electrician can install a dedicated circuit, if required.
                                            </p>
                                            <p>
                                                The discharge and check valve for the sump pump is installed, and the collected water now has a way to exit the home.
                                            </p>
                                            <h4>This system carries a life time warranty !!
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
            
        </div>
    
        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>   
</div>



