@{
    ViewBag.Title = "<b>Crawlspace Encapsulation</b> with waterproof spray-on Polyurea liner system";
}
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="crawlspace">
                    <h1>Crawlspace Encapsulation</h1>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-crawlspace icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p class="lead lead-md">
                                                    We have worked very hard to develop and now successfully apply a seamless, waterproof spray-on polyurea liner system used to encapsulate crawlspaces. The key word here is "ENCAPSULATION", which means permanently locking out the elements that give you trouble:  water, moisture, soil gases, rodents, and cold air. 
                                                    <br />
                                                    <br />
                                                    The only way to protect the crawlspace envelope, is to install a system that starts off and remains SEAMLESS.  The materials, polyurea and closed-cell spray foam, have a long history as safe and remarkably resilient materials perfectly suited to keep those trouble elements from entering your crawlspace.
                                                     <br />
                                                    <br />
                                                    The benefits of this system are unmatched by anything on the market, we know because we have installed many of the other systems, including concrete and taped plastic vapor barriers. Now, we just prefer to offer you the best. You will NOT find another crawlspace encapsulation system that can beat this technology.  Seamless, incredibly durable and fast drying, this polyurea spray-on liner is packed with life long benefits. </p>

                                                <p class="lead lead-md">We have a long list of satisfied customers that have this system installed, so don't forget to ask us for customer referrals who would be happy to tell you about their new CRAWLSPACE.</p>
                                            </div>

                                            <div class="col-sm-4 repair-img">
                                                <h3 class='panel-title'>High Tech POLYUREA</h3>
                                                <p class="lead lead-sm">
                                                    You will NOT find a crawlspace encapsulation system to beat this technology. Seamless, incredibly durable and fast drying, this polyurea spray-on liner is packed with life long benefits.
                                                </p>
                                                <div class="icon-box text-left">
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Durable <small>100 year life expectancy</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Seamless <small>No tape to peel or concrete floors to crack</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Safe <small>No VOC's </small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Waterproof <small>Stops the moisture that causes mold, mildew and allergies</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Guaranteed <small>Lifetime Warranty</small></h3>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <br />
                                                        <img src="~/assets/images/crawlspace_before_polyurea.jpg" class="img-responsive img-thumbnail img-polaroid" title='crack repair _ before' alt="foundation crack repair-before" />
                                                        <div class="caption">
                                                            <h4>Before Polyurea Encapsulation</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                      <br />  <img src="~/assets/images/crawlspace_encapsulation.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-during" />
                                                        <div class="caption">
                                                            <h4>After Polyurea Encapsulation</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
<div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>"Upon inspection of one of your encapsulation systems, using a Flir Thermal Imaging camera, I found that it is the best example of an encapsulation that  have ever seen.  There was a near perfect barrier from moisture and cold, which you just cannot get from other systems on the market" </p>
                              <div class='author-wrapper'>
                            <p class='author'>
                              Professional testimonial from <strong>Chuck McKiel</strong>, HSH Inspections, LLC
                            </p>
                          </div>
                        </div>
                      </div>
                   <!--   <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Michal Marek</strong>,
                              Bublina Studio
                            </p>
                          </div>
                        </div>
                      </div>-->        
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                   <!--   <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='2' data-target='#carousel-testimonials'></li> -->
                    </ol>
                  </div>
                </div>
              </div>
            </div>

    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>



