@{
    ViewBag.Title = "CrawlspaceEncapsulation";
}
 <div id='main' role='main'>
       
     <div id='main-content'>
         <div class='container'>
             <div class='row'>
                 <section class='col-sm-12' id="Crawlspace-Encapsulation">
                     <h1>Crawlspace Encapsulation</h1>
                     <div class='panels-wrapper'>
                         <div class='panel-item'>
                             <div class='row panels'>
                                 <div class='col-md-6 panel panel-big'>
                                     <div class='panel-icon'>
                                         <i class='fa-icon-umbrella icon'></i>
                                     </div>
                                     <div class='panel-body'>
                                         <h3 class='panel-title'>Seamless Polyurea System</h3>
                                         <p>
                                             Our newest crawlspace system is a seamless, incredibly durable... and fast drying.
                                         <br />
                                             <br />
                                             This Polyurea spray-on liner is as close as you can get to a "perfect encapsulation".
                                         </p>
                                         <h3 class="title">High Tech POLYUREA   
                                         </h3>
                                         <div class="icon-box">
                                             <div class="icon icon-wrap">
                                                 <i class="fa-icon-ok-sign"></i>
                                             </div>
                                             <div class="content">
                                                 <h5>Durable – guaranteed for life</h5>
                                             </div>
                                             <div class="icon icon-wrap">
                                                 <i class="fa-icon-ok-sign"></i>
                                             </div>
                                             <div class="content">
                                                 <h5>Seamless -- no tape to peel away</h5>
                                             </div>
                                             <div class="icon icon-wrap">
                                                 <i class="fa-icon-ok-sign"></i>
                                             </div>
                                             <div class="content">
                                                 <h5>Safe -- no VOC's </h5>
                                             </div>
                                             <div class="icon icon-wrap">
                                                 <i class="fa-icon-ok-sign"></i>
                                             </div>
                                             <div class="content">
                                                 <h5>Waterproof -- stops the moisture that causes mold, mildew and allergies</h5>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class='col-md-6 panel panel-big'>
                                     <div class='panel-icon'>
                                         <i class='fa-icon-tint icon'></i>
                                     </div>
                                     <div class='panel-body'>
                                         <h3 class='panel-title'>Specializing in the installation and formulation of our step-by-step process:</h3>

                                         <div class="row">
                                             <div class='col-sm-3'>
                                                 <div class='circle-stats'>
                                                     <div class='circle-stat-small'>
                                                         <div class='circle-stat-wrapper'>
                                                             <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.3' type='text' value='25'>
                                                             <h4 class='percent'>1</h4>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class='col-sm-9'>
                                                 <h4 class="title">Crawlspace cleanout and floor leveling
                                                 </h4>
                                             </div>
                                         </div>
                                         <div class="row">
                                             <div class='col-sm-3'>
                                                 <div class='circle-stats'>
                                                     <div class='circle-stat-small'>
                                                         <div class='circle-stat-wrapper'>
                                                             <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.3' type='text' value='50'>
                                                             <h4 class='percent'>2</h4>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                        
                                         <div class='col-sm-9'>
                                             <h4 class="title">Installation of a draintile system (if required)
                                             </h4>
                                             <p>
                                                 A draintile and sump pump system handles excess ground water that causes flooding.
                                             <br /><br />
                                                 Our draintile systems are guaranteed for life.
                                            <br /> <br />High Quality Zoeller sump pumps.</p>
                                         </div>
                                     </div><br />
                                     <div class="row">
                                         <div class='col-sm-3'>
                                             <div class='circle-stats'>
                                                 <div class='circle-stat-small'>
                                                     <div class='circle-stat-wrapper'>
                                                         <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.3' type='text' value='75'>
                                                         <h4 class='percent'>3</h4>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class='col-sm-9'>
                                             <h4 class="title">Installation of seamless, durable spray coatings:
                                             </h4>
                                             <p>
                                                 Block moisture and soil gas. 
                                             </p>
                                             <p>
                                                 Are durable enough for storage items. 
                                             </p>
                                             <p>Means no seams to ever come loose.</p>
                                             <p>Allow immediate return to service. You can start using the new crawlspace the same day!</p>

                                         </div>
                                     </div><br />
                                     <div class="row">
                                         <div class='col-sm-3'>
                                             <div class='circle-stats'>
                                                 <div class='circle-stat-small'>
                                                     <div class='circle-stat-wrapper'>
                                                         <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.3' type='text' value='100'>
                                                         <h4 class='percent'>4</h4>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class='col-sm-9'>
                                             <h3 class="title">Installation of closed cell spray foam on exterior facing foundation walls and joist ends ...
                                             </h3>
                                             <p>
                                                 Block moisture and soil gas. 
                                             </p>
                                             <p>
                                                 Are durable enough for storage items. 
                                             </p>
                                             <p>Means no seams to ever come loose.</p>
                                             <p>
                                                 Allow immediate return to service. You can start using the new crawlspace the same day!
                                             </p>

                                         </div>
                                     </div>
                                 </div>

                                 <h4 class="text-center">Most crawlspaces can be completed in one day!!</h4>
                             </div>
                         </div>
                     </div>
                    </div>
                  </section>      
             </div>
         </div>
     </div>
 </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      



