@{
    ViewBag.Title = "Crawlspace Encapsulation with waterproof spray-on Polyurea liner system";
}
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="crawlspace">
                    <h1>Crawlspace Encapsulation</h1>
                    <p class='lead lead-title text-center'>
                        NO PLASTIC | NO TAPE | NO CONCRETE TO CRACK<br />
                        <em><span class="green">"COMFORT-CRAWL ENCAPSULATION SYSTEM"</span></em><br />
                        SEAMLESS | LIFETIME GUARANTEE | ENERGY EFFICIENT
                    </p>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-intrusion icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div>
                                                    <h3 class='panel-title'>Clean-Dry-Warm Storage</h3>
                                                     <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/photo-1.jpg" class="img-responsive img-thumbnail img-polaroid" title='Safe, dry and warm crawlspace encapsulation' alt="Comfort Crawl Space Encapsulation" />
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/crawlspace-storage-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='Moisture-free Crawlspace encapsulation, safe for heirloom storage' alt="Crawlspace Encapsulation - safe for heirlooms" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h5 class="caption text-left">Instant Benefits</h5>
                                                        <h5 class="caption text-left">Higher energy efficiency; up to 40%</h5>
                                                        <h5 class="caption text-left">Improved air quality</h5>
                                                        <h5 class="caption text-left">Warmer floors above</h5>
                                                      </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h5 class="caption text-left">Additional clean, dry storage</h5>
                                                        <h5 class="caption text-left">Rain water management</h5>
                                                        <h5 class="caption text-left">Moisture control</h5>
                                                        <h5 class="caption text-left">Rodent and insect control</h5>
                                                    </div> 
                                                    <p>Most crawlspaces are dirty, musty, wet, unusable spaces. The excessive moisture leads to wood rot, poor air quality, and a multitude of allergens that circulate through your home. </p>
                                                    <p>We are NOT AFRAID of your crawlspace, and can instantly transform it into a safe and usable space.  Our system will eliminate all moisture and water intrusion, creating a well-balanced environment, allowing you to actually ENJOY having a crawlspace.</p>
                                                </div>
                                            </div>                                            
                                            <div class="col-sm-5 repair-img">
                                                <h3 class='panel-title'>High Tech POLYUREA</h3>
                                                <p class="lead lead-sm blue">
                                                    You will NOT find a crawlspace encapsulation system to beat this technology. Seamless, incredibly durable and fast drying, this polyurea spray-on liner is packed with life long benefits.
                                                </p>
                                                <p>
                                                <p><a class='btn btn-contrast btn-md' href='~/Polyurea-video'>Video Demonstration of <i>Polyurea</i></a>
                                                </p>

                                                <div class="icon-box text-left">
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Durable <small>100 year life expectancy</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Seamless <small>No tape to peel or concrete floors to crack</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Safe <small>No VOC's </small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Waterproof <small>Stops the moisture that causes mold, mildew and allergies</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i> Guaranteed <small>Lifetime Warranty</small></h3>
                                                    </div>
                                                </div>
                                                <div class='panel panel-big'>
                                                    <script type="text/javascript" src="//sites.yext.com/118415-posts.js"></script>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>                     
            </section>
        </div>
    </div>
    <section id="testimonials">
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                    <i class='fa-icon-quote-right'></i>
                    <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                    <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                        <div class='carousel-inner'>
                            <div class='item active quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">
                                        I have just completed my inspection of one of your encapsulation systems as part of my water intrusion inspection, using a Flir Thermal Imaging camera.<br />
                                        I found that it is the best example of an encapsulation that I have ever seen. There is a near perfect barrier from moisture intrusion and heat loss.<br />
                                        I have not found and have not been able to assure, as a contractor, for my clients, the kind of protection which is required and just cannot get from any other systems on the market, the kind of protection your system delivers perfectly.
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            Professional testimonial from <strong>Chuck McKiel</strong>, HSH Inspections, LLC
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">Encapsulated two crawlspaces, one of which we affectionately referred to as the "Friday the 13th" crawlspace.</p>
                                    <p class="lead">THIS STORY IS OF HOW HIGH TECH TOOK CARE OF AN EXISTING PROBLEM THEN THE CRAWLSPACE.</p>
                                    <p class="lead">
                                        A Pamphlet was provided describing the process and material to be used.
                                        Morning team arrived on time to clear and level spaces and remove old, creepy insulation.
                                        Afternoon team arrived on time to encapsulate.
                                    </p>
                                    <p class="lead">Next day...WATER in one crawlspace!  I called and High Tech sent out a great guy who vacuumed and mopped up water.  It turns out our air conditioning unit was dripping water all those years. A call to the HVAC guy who had been servicing the unit for 20 years solved the problem.   While it was NOT High Tech Waterproofing’s problem, the company was very responsive.</p>
                                    <p class="lead">NO MORE STANKY HOUSE!</p>
                                    <p class="lead">We did this work in advance of selling the house. I am sure that the three offers in 36 hours would never have happened had it not been for the improvement of the crawls.</p>

                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Nancy</strong> from Lake Forest, IL
                                        </p>
                                    </div>
                                </div>
                            </div>


                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">In the last few years my crawlspace had been smelling pretty musty so after checking Angie's list, I found this company that advertised this Polyurea liner for the crawlspace. He was prompt & answered all my questions (I had a lot). Everything was completed in one day. They cleaned up after themselves & didn't leave any mess. If you need any crawlspace or basement waterproofing done, you won't go wrong with this company. </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Sue</strong> from East Hazel Crest, IL
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">They were extremely professional and reliable. The job went well and we were satisfied with the end result.  Felt the price was fair considering we would never have to worry about seams or taped joints in the encapsulation system.  The liner is quite thick.</p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Stephanie</strong> from Palos Park, IL
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">Excellent! High Tech Waterproofing was able to fix what other vendors could not and a much more reasonable price. No more leaky walls! If you have leaky walls, basements, crawlspaces, etc., my advice is to definitely call High Tech Waterproofing.</p>
                                    <p class="lead">
                                        They do excellent work for a fraction of the price of other vendors. Some other outfits tried to sell me on replacing drain tiles to the tune of thousands of dollars.
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Jena </strong>from Chicago, IL
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">Total crawlspace makeover- drain tile, sump pump, Polyurea liner, spray foam insulation, crack repair and two support post with footings.</p>
                                    <p class="lead">
                                        I'm very pleased I chose High Tech.  They are prompt, polite, professional, keep your house clean and do a great job.  From beginning to end, everything was seamless (just like my new liner!!).
                                    </p>
                                    <p class="lead">
                                        My wife and I highly recommend them.
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Tony </strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">
                                        Your team did a fantastic job.  My wife and I could not be more pleased with the results. I’ll be sure to post a “A+” review on <a href="https://www.AngiesList.com/Review/8106616">Angie’s List.</a><br />
                                        Please pass along my thanks to all the guys on your crew.  Working with High Tech was a great experience from beginning to end.
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Anthony</strong> from Deerfield, IL
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class='item quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">Your technician was terrific. He was prompt, helpful and went above and beyond in regards to service and professionalism. </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            <strong>Suzanne </strong>from Elk Grove Village, IL
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ol class='carousel-indicators'>
                            <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='2' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='3' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='4' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='5' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='6' data-target='#carousel-testimonials'></li>
                            <li data-slide-to='7' data-target='#carousel-testimonials'></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>



