@{
    ViewBag.Title = "Crawlspace Encapsulation with waterproof spray-on Polyurea liner system";
}
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="crawlspace">
                    <h1>Crawlspace Encapsulation</h1>
                    <p class='lead lead-title text-center'>
                        NO PLASTIC | NO TAPE | NO CONCRETE TO CRACK<br />
                        <em><span class="green">"COMFORT-CRAWL ENCAPSULATION SYSTEM"</span></em><br />
                        SEAMLESS | LIFETIME GUARANTEE | ENERGY EFFICIENT
                    </p>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-intrusion icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-7">
                                                <div>
                                                    <h3 class='panel-title'>Clean-Dry-Warm Storage</h3>
                                                     <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/photo-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='Safe, dry and warm crawlspace encapsulation' alt="Comfort Crawl Space Encapsulation" />
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/crawlspace-storage-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='Moisture-free Crawlspace encapsulation, safe for heirloom storage' alt="Crawlspace Encapsulation - safe for heirlooms" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h5 class="caption text-left">Instant Benefits</h5>
                                                        <h5 class="caption text-left">Higher energy efficiency; up to 40%</h5>
                                                        <h5 class="caption text-left">Improved air quality</h5>
                                                        <h5 class="caption text-left">Warmer floors above</h5>
                                                      </div>
                                                    <div class="col-xs-12 col-md-6">
                                                        <h5 class="caption text-left">Additional clean, dry storage</h5>
                                                        <h5 class="caption text-left">Rain water management</h5>
                                                        <h5 class="caption text-left">Moisture control</h5>
                                                        <h5 class="caption text-left">Rodent and insect control</h5>
                                                    </div> 
                                                    <p>Most crawlspaces are dirty, musty, wet, unusable spaces. The excessive moisture leads to wood rot, poor air quality, and a multitude of allergens that circulate through your home. </p>
                                                    <p>We are NOT AFRAID of your crawlspace, and can instantly transform it into a safe and usable space.  Our system will eliminate all moisture and water intrusion, creating a well-balanced environment, allowing you to actually ENJOY having a crawlspace.</p>
                                                    <div class="col-xs-12 col-md-6">
                                                        <img src="~/assets/images/crawlspace_before_polyurea.jpg" class="img-responsive img-thumbnail img-polaroid" title='Safe, dry and warm crawlspace encapsulation' alt="Comfort Crawl Space Encapsulation-before" />
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/crawlspace_encapsulation.jpg" class="img-responsive img-thumbnail img-polaroid" title='Safe, dry and warm crawlspace encapsulation' alt="Comfort Crawl Space Encapsulation-after" />
                                                        </div>
                                                    <div class="col-xs-12 col-md-6">
                                                         </div>
                                                </div>
                                            </div>                                            
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>                     
            </section>
        </div>
    </div>
    
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>



