@{
    ViewBag.Title = "CrawlspaceEncapsulation";
}
 <div id='main' role='main'>
       
     <div id='main-content'>
          <div class='container'>
            <div class='row'>
              <div class='col-sm-12'>
                <p class='lead text-center'>BEE: Building Envelop Encapsulation</p>
               <h4> “BEE dry” process oriented solutions designed to handle all types of WATER INTRUSION issues.<br />
                 </h4>
              </div>
            </div>
            <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-umbrella icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Encapsulation Solutions for water intrusion:</h3>
                       <ul>   
                        <li class="text-left">Crawlspace Encapsulation
                        </li>
                          <li class="text-left">Basement foundation crack repairs
                        </li>
                          <li class="text-left">Basement floor drain tile systems
                        </li>
                          <li class="text-left">Masonry block and Parapet wall water intrusion designs
                        </li>
                          <li class="text-left">Polyurea coatings for roofing, metal, and concrete
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-tint icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Specializing in the installation and formulation of:</h3>
                       <ul>   
                        <li class="text-left">Concrete crawlspace floors
                        </li>
                          <li class="text-left">Polyurea spray coatings and seamless liners
                        </li>
                          <li class="text-left">Basement floor drain tile systems
                        </li>
                          <li class="text-left">Closed cell spray foam insulation
                        </li>
                          <li class="text-left">Foundation crack repairs using Polyurethane injection process
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
                <div class='col-sm-8 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-cog sun'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>BEE: Building Envelop Encapsulation</h3>
                      <p>“BEE dry” process oriented solutions designed to handle all types of WATER INTRUSION issues.</p>
                   </div>
                  </a>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>



