@{
    ViewBag.Title = "FoundationCrackRepair";
}
      
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="mycontent">
                <section id="crack-repair">
                    <h1>Foundation Crack Repair</h1>
                    <p class="lead lead-md">We have over 8 years experience in foundation crack repair, using a Polyurethane crack injection process.
                    </p>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-tint icon'></i>
                                </div>
                                <div class='panel-body'>                       
                                    <div class="container">
                                        
                                                <h4 class='panel-title'>Why Polyurethane?</h4>
                                                <p class="lead lead-md">
                                                    Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                                </p>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3 class="title">Here are the steps we take to be sure its done right the first time:</h3>
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='33.33'>
                                                                    <h4 class='percent text-center'>1</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h5 class="title">Setting up the foundation crack for the injection process:
                                                        </h5>
                                                        <p>Plastic injector ports are drilled and set into the crack at 10-12-inch intervals.</p>
                                                        <p>These ports will be used to inject the polyurethane into the crack.</p>
                                                        <p>Once the ports are installed, we top coat the surface of the crack with hydraulic cement, which will serve as a way to hold the polyurethane resin in place while it sets and cures.   </p>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='66.66'>
                                                                    <h4 class='percent text-center'>2</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h5 class="title">Injecting the crack: </h5>
                                                        <p>We start injecting the polyurethane resin into the lowest port, filling the crack until we see the resin flowing from the next higher port.</p>
                                                        <p>This is how we know the void in the wall in completely filled. We refer to the process as “Over-fill”, because we do not stop injecting until we see the material coming out the next adjacent port.</p>
                                                        <p>We repeat the step above, moving methodically up the foundation crack, filling each port from the bottom up.    </p>
                                                         </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='100'>
                                                                    <h4 class='percent text-center'>3</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-10'>
                                                        <h5 class="title">Final steps:</h5>
                                                        <p>
                                                            After the injected resin has fully cured, we top coat the injection with hydraulic cement.  </p>
                                                        <p>We clean up our mess, and we are ready to leave.</p>
                                                    </div>
                                                </div>

                                                <h5 class="title">Now you have a repaired foundation crack that we can guarantee for life!!!   </h5>
                                                <br />
                                          
                                                <h4 class="text-center">Call or email us today for a free estimate.</h4>
                                                <h4>
                                                   We offer quotes over the phone if you can send us a picture of your foundation crack!!! 
                                                </h4>
                                                
                                                <h4 class="text-center">(630) 332-2341 or email us at <a href="mailto:sales@htwaterproofing.com">sales@htwaterproofing.com</a>.
                                                </h4>
                                            </div>
                                            <div class="col-sm-4 repair-img"><br /><br />
                                                <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='crack repair _ before' alt="foundation crack repair-before" />
                                                 <p class="lead lead-md text-center">Plaster Injector Ports Drilled</p>
                                                <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-during" />
                                                  <p class="lead lead-md text-center">Hydraulic Cement Top Coat</p>
                                                <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-after" />
                                                 <p class="lead lead-md text-center">Polyurethane Resin Injection</p>
                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>

</div>



