@{
    ViewBag.Title = "FoundationCrackRepair";
}
      
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="mycontent">
                <section id="crack-repair">
                    <h1>Foundation Crack Repair</h1>
                    <p class="lead lead-md">Our staff has expertise in foundation crack repairs using a Polyurethane crack injection solution.</p>


                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-tint icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <h3 class='panel-title text-center'>Polyurethane injection process and LIFETIME GUARANTEE </h3>
                                    <div class="container">
                                        
                                                <h4 class='panel-title'>Why Polyurethane?</h4>
                                                <p class="lead lead-md">
                                                    Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                                </p>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3 class="title">How it's done:</h3>
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='25'>
                                                                    <h4 class='percent text-center'>1</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h5 class="title">First, plastic injector ports are drilled and set into the crack at 10-12-inch intervals.  These ports will be used to inject   the polyurethane into the crack.  
                                                        </h5>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='50'>
                                                                    <h4 class='percent text-center'>2</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h5 class="title">Once the ports are installed, we top coat the surface of the crack with hydraulic cement, which will serve as a way to   hold the polyurethane resin in place while it sets and cures.
                                                        </h5>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='75'>
                                                                    <h4 class='percent text-center'>3</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-10'>
                                                        <h5 class="title">Next, we start injecting the polyurethane resin into the lowest port, filling the crack until we see the resin flowing from the next higher port. This is how we know the void in the wall is completely filled.</h5>
                                                        <p>
                                                            We refer to the process as “Over-fill”, because we do not stop injecting until we see the material coming out the next adjacent port.
                                                        </p>
                                                    </div>
                                                </div>

                                                <h5 class="title">Now, we repeat the step above, moving methodically up the foundation crack, filling each port from the bottom up.
                                                </h5>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='95'>
                                                                    <h4 class='percent '>4</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h5 class="title">After the injected resin has fully cured, we top coat the injection with hydraulic cement.
                                                        </h5>
                                                    </div>
                                                </div>
                                                <br />
                                                <h5 class="title">Now you have a repaired foundation crack that we can guarantee for life!!!
                                                </h5>
                                                <p>
                                                    We clean up our dust, and...
                                                </p>
                                                <div class="row">
                                                <div class='col-sm-2'>
                                                    <div class='circle-stats text-center'>
                                                        <div class='circle-stat-small'>
                                                            <div class='circle-stat-wrapper'>
                                                                <input class='hidden text-center' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='100'>
                                                                <h4 class='percent'>5</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='col-sm-10'>
                                                    <h5 class="title">The final step is handing you a life time warranty on the work we just completed!! </h5>
                                                </div>
                                            </div>
                                                <h4 class="text-center">Call or email us today for a free detailed proposal.  </h4>
                                                <h4 class="text-center">(630) 332-2341 or email us at <a href="mailto:sales@htwaterproofing.com">sales@htwaterproofing.com</a>.
                                                </h4>
                                            </div>
                                            <div class="col-sm-4 repair-img"><br /><br />
                                                <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='crack repair _ before' alt="foundation crack repair-before" />
                                                 <p class="lead lead-md text-center">Plaster Injector Ports Drilled</p>
                                                <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-during" />
                                                  <p class="lead lead-md text-center">Hydraulic Cement Top Coat</p>
                                                <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-after" />
                                                 <p class="lead lead-md text-center">Polyurethane Resin Injection</p>
                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>

</div>



