@{
    ViewBag.Title = "Foundation Crack Repair";
}
      
<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="crack-repair">
                    <h1>Foundation Crack Repair</h1>
                    <p class="lead lead-md text-center">With experience repairing hundreds and hundreds of foundation cracks,<br />you can be sure we will stand behind our lifetime, transferrable guarantee!</p>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-crack icon'></i>
                                </div>
                                <div class='panel-body'>                       
                                    <div class="container">
                                        
                                                <h4 class='panel-title'>Why Polyurethane?</h4>
                                                <p class="lead lead-md">
                                                    Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                                </p>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <h3 class="title">Here are the steps we take to be sure its done right the first time:</h3>
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='33.33'>
                                                                    <h4 class='percent text-center'>1</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h4 class="title">Setting up the foundation crack for the injection process:
                                                        </h4>
                                                        <p>First, we carefully prepare the area around the crack for proper bonding of our two-part epoxy repair paste, which will be used to seal in the hydrophilic injection material.</p>
                                                        <p>Plastic injector ports, used to inject the polyurethane, are strategically pasted along the prepared crack.  Once ports are set, we encapsulate the port and crack with epoxy paste, making sure there are no voids on either side of the crack. </p>
                                                        <p>After a short time, the paste will harden, and we will be ready to install the low pressure injection material.</p>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='66.66'>
                                                                    <h4 class='percent text-center'>2</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class='col-sm-10'>
                                                        <h4 class="title">Injecting the crack: </h4>
                                                        <p>We start by injecting the polyurethane foam resin into the lowest port, filling the crack until we see the resin flowing from the next higher port.</p>
                                                        <p>This is how we know the void in the wall in completely filled. We refer to the process as “Over-fill”, because we do not stop injecting until we see the material coming out the next adjacent port.</p>
                                                        <p>We repeat the step above, moving methodically up the foundation crack, filling each port from the bottom up.    </p>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class='col-sm-2'>
                                                        <div class='circle-stats text-center'>
                                                            <div class='circle-stat-small'>
                                                                <div class='circle-stat-wrapper'>
                                                                    <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='100'>
                                                                    <h4 class='percent text-center'>3</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class='col-sm-10'>
                                                        <h4 class="title">Final steps:</h4>
                                                        <p>
                                                            After the crack is fully injected with resin, we do a final inspection of our work. 
                                                         </p>   
                                                          <p>We clean up our mess, and we are ready to leave.</p>
                                                    </div>
                                                </div>

                                                <h3 class="title">Now you have a repaired foundation crack that we can guarantee for life!!!   </h3>
                                                <br />
                                          
                                                <h5 class="text-center">We offer free estimates over the phone. Send us a picture of your foundation crack.</h5>
                                                <p class="lead lead-sm text-center">
                                                    <span class="lead lead-lg"><b>Call <a href="tel:16303322341"> 630.332.2341</a></b></span>
                                                </p>     
                                            </div>
                                            <div class="col-sm-4 repair-img">
                                                <br />
                                                <br />
                                                <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='crack repair _ before' alt="foundation crack repair-before" />
                                                <div class="caption text-center">
                                                    <h4>Typical Foundation Crack</h4>
                                                </div>

                                                <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-after" />
                                                <div class="caption text-center">
                                                            <h4>Install Hydrophobic Polyurethane Foam Injection and Plastic Ports</h4>
                                                        </div> 
                                                <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-during" />
                                                <div class="caption text-center">
                                                            <h4>Polyurethane Resin Injection</h4>
                                                        </div>  
                                                 </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>

</div>



