@{
    ViewBag.Title = "FoundationCrackRepair";
}
      
<div id='main-content'>
    <div class="container">
        <div class="row">
            <section id="Foundation-Crack-Repair">
                <h1>Foundation Crack Repair</h1>
                <div class='panels-wrapper'>
                    <div class='row panels'>
                        <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-tint icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>Polyurethane injection process and LIFETIME GUARANTEE </h3>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-9">
                                                <p>
                                                    Our staff has expertise in foundation crack repairs using a Polyurethane crack injection solution.
                                                </p>
                                                <p>
                                                    Why Polyurethane?
                                                </p>
                                                <p>
                                                    Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                                </p>
                                                <p>
                                                    How it's done:
                                                </p>
                                                <p>
                                                    First,  plastic injector ports are drilled and set into the crack at 10-12-inch intervals.  These ports will be used to inject   the polyurethane into the crack.  
                                                </p>
                                                <p>
                                                    Once the ports are installed, we top coat the surface of the crack with hydraulic cement, which will serve as a way to   hold the polyurethane resin in place while it sets and cures.
                                                </p>
                                                <p>
                                                    Next, we start injecting the polyurethane resin into the lowest port, filling the crack until we see the resin   flowing from the next higher port.  This is how we know the void in the wall in completely filled. We refer to the   process as “Over-fill”, because we do not stop injecting until we see the material coming out the next adjacent   port.  
                                                </p>
                                                <p>
                                                    Now, we repeat the step above, moving methodically up the foundation crack, filling each port from the   bottom up.
                                                </p>
                                                <p>
                                                    After the injected resin has fully cured, we top coat the injection with hydraulic cement.
                                                </p>
                                                <p>
                                                    Now you have a repaired foundation crack that we can guarantee for life!!!
                                                </p>
                                                <p>
                                                    We clean up our dust, and…..
                                                </p>
                                                <p>The final step is handing you a life time warranty on the work we just completed!!</p>
                                                <h4>Call or email us today for a free detailed proposal.  </h4>
                                                <h4>
                                                    (630) 332-2341 or email us at <a href="mailto:sales@htwaterproofing.com">sales@htwaterproofing.com</a>.
                                                </h4>
                                            </div>
                                            <div class="col-sm-3 repair-img">
                                                <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 90%;" alt="foundation crack repair-before" />
                                                <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 90%;" alt="foundation crack repair-during" />
                                                <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 90%;" alt="foundation crack repair-after" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>
    </div>
</div>



