@{
    ViewBag.Title = "FoundationCrackRepair";
}
      
<div id='main-content'>
    <div class="container">
        <div class="row">
            <section id="Foundation-Crack-Repair">
                <p class='lead text-center'>Foundation Crack Repair</p>
                <div class='panels-wrapper'>
                    <div class='row panels'>
                        <div class='panel-item'>
                            <a class='panel panel-big' href='#'>
                                <div class='panel-icon'>
                                    <i class='fa-icon-tint icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <h3 class='panel-title'>Polyurethane injection process and LIFETIME GURANTEE </h3>
                                    <p class="text-left"> Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. 
                                    </p>
                                    <div class="container">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>
                                        Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                            </p>
                                            <p>
                                        Since polyurethane resin systems expand during the injection, less resin is required to accomplish the repair and can be much more economical
to install—especially in wide cracks and loose soil conditions. Wet or actively leaking cracks and joints often will have better results being
injected with polyurethane foam.
                                    </p>
                                            <p>
                                        For very wide cracks or joints, the polyurethane expanding foam systems will fill the crack and do so with a fraction of the resin that would be
required if epoxy was used. When encountering unusual repairs such as cold joint type leaks or honeycombing, expanding polyurethane grouts
are the material of choice to be able to attack the hidden unknown of these types of repairs.
                                    </p> <p>
                                        For typical residential applications, our solution can be conveniently applied from the inside of the basement. This eliminates the need for digging
up the outside of the foundation which can be disruptive, time consuming and costly. Our resin systems are available in caulking style cartridges
or dual side-by-side cartridges and injected with low-pressure hand dispensing tools.
                                  </p> <p>Application</p>  
  <p>
                                        First, surface mounted plastic injector ports are glued over the crack with a fast-setting epoxy paste at 10- or 12-inch intervals.
                                    </p>
                                    <p>
                                        The resin of choice is slowly injected into the lowest port utilizing hand pressure.
The resin will flow into the crack filling from the bottom up and then eventually appear at the next higher port. We move the cartridge up to the
next higher port and resume injecting the resin again, which will ensure we have full internal coverage. This process is repeated until the entire
crack is full and resin starts to flow out the top of the crack. We refer to the process as “Over-fill”, because we do not stop injecting until we see
the material coming out the next adjacent port.
                                    </p>
                                    <p>
                                        After the injected resin has fully cured, we top coat the injection with hydraulic cement.
                                    </p>
                                    <p>
                                        Now you have a repaired foundation crack that we can guarantee for life!!!
                                    </p>

                                        </div>
                                        <div class="col-sm-3 repair-img">
                                            <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 70%;" alt="foundation crack repair-before" />
                                    
                                              <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 70%;" alt="foundation crack repair-during" />
                                       
                                      

                                     <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 70%;" alt="foundation crack repair-after" />
                                      
                                        </div>
                                    </div></div>
                                  
                                  
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>
    </div>
</div>



