@{
    ViewBag.Title = "HIGH TECH WATERPROOFING _ High Tech POLYUREA";
}
<div id='main' role='main'>
    <!-- / carousel image -->
    <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
        <ul class='slides'>
             <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Stop Water Intrusion</h2>
                            <p class='normal fadeInDownBig animated'>Polyurea Coating Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Videos/#Polyurea-spray'>Watch "Polyurea 3-seconds-dry" video
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Polyurea Coatings" width="405" height="288" src="~/assets/images/slide-img-5.jpg" />
                        </div>
                    </div>
                </div>
            </li>
          <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Encapsulate from Water</h2>
                            <p class='normal fadeInRightBig animated'>Government Coating Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Municipal-Government'>Restoration from water damage
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 90px; right: 15px;" alt="Manhole water encapsulation" width="405" height="260" src="~/assets/images/manhole.jpg" />
                        </div>
                    </div>
                </div>
            </li>
             <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Restore Landmarks</h2>
                            <p class='normal fadeInRightBig animated'>Municipal Coating System</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Videos/#Polyurea-spray'>Watch Polyurea Demo
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Restore Municipal structure" width="405" height="288" src="~/assets/images/fountain-2.jpg"  />      
                        </div>
                    </div>
                </div>
            </li>  
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInDownBig animated'>Clean Dry Storage</h2>
                            <p class='normal fadeInUpBig animated'>Crawlspace Encapsulation</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated' href='~/Crawlspace-Encapsulation'>Add Waterproof Storage
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Crawlspace Encapsulation" width="405" height="288" src="~/assets/images/slide-img-3.jpg" />
                        </div>
                    </div>
                </div>
            </li>          
            
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Stop Seepage NOW</h2>
                            <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated' href='~/Foundation-Crack-Repair'>Learn more
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/slide-img-6.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Guiding Water Away</h2>
                            <p class='normal fadeInDownBig animated'>Basement Drain Tile Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Basement-Drain-Tile-System'>Learn more
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Basement Drain Tile Systems" width="405" height="288" src="~/assets/images/Basement-drain-tile.jpg" />
                        </div>
                    </div>
                </div>
            </li>
           
           
       
        </ul>
    </div> 

    <div id='main-content'>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section id="polyurea-waterproof-encapsulation">
                        <h1>High Tech Waterproofing</h1>
                        <p class='lead text-center'>Provides LIFETIME/TRANSFERRABLE GUARANTEED waterproofing and encapsulation solutions- stopping water intrusion, by implementing the latest techniques and installing the best materials in the industry.</p>
                        <div class='panels-wrapper'>
                            <div class='row panels'>
                                <div class='col-sm-6 col-md-4 panel-item' id="contact-form">
                                    <div class='panel panel-big' >
                                        <div class='panel-icon'>
                                            <i class='icon-first icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>We are 'First' in the Polyurea Industry</h3>
                                            <p>
                                                Stop water from entering your building through porous masonry walls and roof and parapet systems.
                                            Our finished seamless polyurea liner system, carries a Lifetime/Transferrable Guarantee. Ask about our FREE ESTIMATES. Call 630-332-2341.
                                            </p>

                                            <form action="/Contact/Index" class="navbar-form navbar-left well well-sm text-left" role="form" method="post">

                                                <div class="form-group">
                                                    <label class="control-label" for="Comment"><span class='fa fa-icon-envelope blue'></span> Tell us about your project</label>
                                                    <textarea class="form-control input" cols="20" id="Comment" maxlength="500" name="Comment" rows="2"></textarea>
                                                    <span class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Name">Name</label>
                                                    <input class="form-control input" data-val="true" data-val-required="Name is Required" id="Name" maxlength="50" name="Name" type="text">
                                                    <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Email">Email <small>*(Always kept private)</small></label>
                                                    <input class="form-control input" data-val="true" data-val-required="Email is Required" id="Email" maxlength="50" name="Email" type="email">
                                                    <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label" for="Phone">Phone <small>*(Optional)</small></label>
                                                    <input class="form-control input" data-val="true" id="Phone" maxlength="15" name="Phone" type="tel">
                                                    <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>

                                                </div>

                                                <input type="submit" class="btn btn-success navbar-btn btn-sm pull-right clearfix" value="Send Email">
                                            </form>

                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix visible-sm"></div>
                                <div class='col-sm-6 col-md-4 panel-item'>
                                    <a class='panel panel-big' href='~/Crawlspace-Encapsulation'>
                                        <div class='panel-icon'>
                                            <i class='icon-crawlspace icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Crawlspace encapsulation</h3>
                                            <p>We offer complete cleanout, waterproofing, and seamless sealing of your ugly crawlspace. Stop moisture, bad smells and Radon gas!!</p>
                                        </div>
                                    </a>
                                </div>
                                 <div class='col-sm-6 col-md-4 panel-item'>
                                    <a class='panel panel-big' href='~/Crawlspace-Encapsulation/#testimonials'>
                                        <div class='panel-icon'>
                                            <i class='icon-water icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Our Customers Talk</h3>
                                            <p><em>"We had our basement crawl space weather/water-proofed and insulated.  We are now able to use it for storage space which is terrific!  Adds a whole additional room for storage which makes all the difference in our home as we don't have attic space.  Also, has made the room above the crawl space much warmer during the cold winter months... We couldn't be happier!"</em></p>
                                            <p>Andrea Keeney, River Forest, IL </p> <h6>more customer talk <i class='fa-icon-chevron-right'></i></h6>
                                        </div>
                                    </a>
                                </div>                
                                <div class="clearfix visible-sm"></div>
                                <div class='col-sm-6 col-md-4 panel-item'>
                                    <a class='panel panel-big' href='~/Foundation-Crack-Repair'>
                                        <div class='panel-icon'>
                                            <i class='icon-crack icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Foundation crack repair</h3>
                                            <p>Polyurethane injection of foundation cracks, stopping seepage in its tracks!</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm"></div>
                                <div class='col-sm-6 col-md-4 panel-item'>
                                    <a class='panel panel-big' href='~/Basement-Drain-Tile-System'>
                                        <div class='panel-icon'>
                                            <i class='icon-drain-tile icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Basement drain tile systems</h3>
                                            <p>Perimeter breakout of your basement floor and a new water drainage system installed in one day!</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="clearfix visible-sm"></div>
                               
                                <div class='col-sm-6 col-md-4 panel-item'>
                                    <a class='panel panel-big' href='~/Crawlspace-Encapsulation'>
                                        <div class='panel-icon'>
                                            <i class='icon-intrusion icon'></i>
                                        </div>
                                        <div class="clearfix visible-sm visible-xs"></div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Water intrusion systems</h3>
                                            <p>Industrial and residential elastomeric coatings for floors, roofing, masonry, metals, and containment systems.  Longest lasting coatings on the market!!</p>
                                        </div>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class='panels-wrapper'>
                            <div class=' panel-item'>
                                <div class='row panels'>
                                    <div class='col-sm-6 panel-item'>
                                        <a class='panel panel-big' href='~/Crawlspace-Encapsulation'>
                                            <div class='panel-icon'>
                                                <i class='icon-crawlspace icon'></i>
                                            </div>
                                            <div class='panel-body'>
                                                <h3 class='panel-title'>Encapsulation Solutions for water intrusion:</h3>
                                                <ul>
                                                    <li class="text-left">Crawlspace Encapsulation
                                                    </li>
                                                    <li class="text-left">Basement foundation crack repairs
                                                    </li>
                                                    <li class="text-left">Basement floor drain tile systems
                                                    </li>
                                                    <li class="text-left">Masonry block and Parapet wall water intrusion designs
                                                    </li>
                                                    <li class="text-left">Polyurea coatings for roofing, metal, and concrete
                                                    </li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class='col-sm-6 panel panel-big panel-item'>
                                        <div class='panel-icon'>
                                            <i class='icon-workers icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <h3 class='panel-title'>Our staff has expertise in:</h3>
                                            <ul>
                                                <li class="text-left">Crawlspace Encapsulation
                                                </li>
                                                <li class="text-left">Foundation crack repairs
                                                </li>
                                                <li class="text-left">Basement draintile systems
                                                </li>
                                                <li class="text-left">Polyurea coating systems
                                                </li>
                                                <li class="text-left">Sealing porous masonry walls and parapet coping
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class='fade' id='scroll-to-top'>
                <i class='fa-icon-chevron-up'></i>
            </div>
        </div>
    </div>
</div>
