@{
    ViewBag.Title = "HIGH TECH WATERPROOFING - Crawlspace Encapsulation with POLYUREA";
}
<div id='main' role='main'>
    <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
        <ul class='slides'>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInDownBig animated'>Clean Dry Storage</h2>
                            <p class='normal fadeInUpBig animated'>Crawlspace Encapsulation</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated' href='~/Crawlspace-Encapsulation'>
                                Comfort-Crawl Encapsulation
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 62px; right: 15px;" alt="Crawlspace Encapsulation" width="402" height="301" src="~/assets/images/photo-1.jpg" />
                        </div>
                    </div>
                </div>
            </li>
     
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Stop Water Intrusion</h2>
                            <p class='normal fadeInDownBig animated'>Polyurea Coating Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Polyurea-video'>Watch "Polyurea 3-seconds-dry"
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Polyurea Coatings" width="405" height="288" src="~/assets/images/slide-img-5.jpg" />
                        </div>
                    </div>
                </div>
            </li>
           
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Stop Seepage Now</h2>
                            <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated' href='~/Foundation-Crack-Repair'>
                                Guaranteed for Life
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/slide-img-6.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Guiding Water Away</h2>
                            <p class='normal fadeInDownBig animated'>Basement Drain Tile Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Basement-Drain-Tile-System'>
                                Step-by-step procedure
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Basement Drain Tile Systems" width="405" height="288" src="~/assets/images/Basement-drain-tile.jpg" />
                        </div>
                    </div>
                </div>
            </li>

      </ul>
    </div> 
    <div id='main-content'>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section id="polyurea-waterproof-encapsulation">
                        <h1>Crawlspace Encapsulation | Crawlspace Waterproofing and Repair</h1>
                        <p class='lead lead-md text-center'>
                            Our polyurea 50mil seamless spray-on liner system for crawlspace encapsulation is unmatched in the market for its incredibly durable, fast drying, and lifelong benefits.
                            <br />We are leading the way with the latest techniques and installing the best materials in the industry.
                        </p>
                    </section>
                    <div class='panels-wrapper'>
                        <div class='row panels'>                  
                            <div class="clearfix visible-sm"></div>
                            <div class='col-sm-8 panel-item'>
                                <a class='panel panel-big' href='~/Crawlspace-Encapsulation'>
                                    <div class='panel-icon'>
                                        <i class='icon-crawlspace icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <h3 class='panel-title'>Crawlspace Encapsulation </h3>
                                        <p>We have worked very hard to develop and HAVE SUCCESSFULLY INSTALLED HUNDREDS of seamless, waterproof spray-on polyurea liner systems used to encapsulate crawlspaces. The key word here is "ENCAPSULATION", which means permanently locking out the elements that give you trouble: water, moisture, soil gases, rodents, and cold air. <br />
                                            <br />
                                            The only way to protect the BUILDING envelope, is to install a system that starts off and remains SEAMLESS. The materials, polyurea and closed-cell spray foam, have a long history as safe and remarkably resilient materials perfectly suited to keep those trouble elements from entering your crawlspace.  <br />
                                            <br />
                                            The benefits of this system are unmatched by anything on the market, we know because we have installed many of the other systems, including concrete and taped plastic vapor barriers. Now, we just prefer to offer you the best. You will NOT find another crawlspace encapsulation system that can beat this technology.  Seamless, incredibly durable and fast drying, this polyurea spray-on liner is packed with life long benefits.<br />
                                            <br />
                                            We offer complete cleanout, waterproofing, and seamless sealing of your ugly crawlspace. Stop moisture, bad smells and Radon gas!!
                                            </p>
                                    </div>
                                </a>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-first icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <h3 class='panel-title'>We are "First" in the Polyurea Industry</h3>
                                        <p class="lead lead-sm green"><em>Don't take our word for it! Read this professional testimonial from the HSH Property Inspector.</em></p>
                                        <div class="well">
                                            <p class="italic text-black">
                                                "I have just completed my inspection of one of your encapsulation systems as part of my water intrusion inspection, using a Flir Thermal Imaging camera.<br />
                                            </p>
                                            <p>
                                                I found that it is the best example of an encapsulation that I have ever seen. There is a near perfect barrier from moisture intrusion and heat loss.<br />
                                            </p>
                                            <p>
                                                I have not found and have not been able to assure, as a contractor, for my clients, the kind of protection which is required and just cannot get from any other systems on the market, the kind of protection your system delivers perfectly.
                                            </p>
                                            <p>
                                                <em>Professional testimonial from <strong>Chuck McKiel</strong>, HSH Inspections, LLC</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                          </div>
                            <div class='col-sm-4 panel-item' >
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-water icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <a href='~/Crawlspace-Encapsulation/#testimonials'>
                                            <h3 class='panel-title'>Our Customers Talk</h3>
                                            <div class="well">
                                                <p>
                                                    <em>"We had our basement crawl space weather/water-proofed and insulated.  We are now able to use it for storage space which is terrific!  Adds a whole additional room for storage which makes all the difference in our home as we don't have attic space.  Also, has made the room above the crawl space much warmer during the cold winter months... We couldn't be happier!"</em>
                                                </p>
                                                <p class="text-justify">Andrea, River Forest, IL </p>
                                            </div>
                                            <h6>More Customers Talk <i class='fa-icon-chevron-right'></i></h6>
                                        </a>
                                        <p class="lead lead-md">We have a long list of satisfied customers that have this system installed, so don't forget to ask us for customer referrals, who would be happy to tell you about their new CRAWLSPACE.</p>
                                        <p>
                                            Our finished seamless polyurea liner system, carries a Lifetime, Transferable Guarantee. Ask about our FREE ESTIMATES. <br />
                                        </p>
                                        <p class="lead lead-sm">
                                            Call today to get details: <br /><span class="lead lead-lg"><b class="green"><a href="tel:16303322341">630.332.2341</a></b></span>
                                        </p>

                                        <form action="/Contact/Index" id="contact-form" class="navbar-form navbar-left well well-sm text-left" role="form" method="post">

                                            <div class="form-group">
                                                <label class="control-label" for="Comment"><span class='fa fa-icon-envelope blue'></span> Tell us about your project</label>
                                                <textarea class="form-control input" cols="20" id="Comment" maxlength="500" name="Comment" rows="2"></textarea>
                                                <span class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Name">Name</label>
                                                <input class="form-control input" data-val="true" data-val-required="Name is Required" id="Name" maxlength="50" name="Name" type="text">
                                                <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Email">Email <small>*(Always kept private)</small></label>
                                                <input class="form-control input" data-val="true" data-val-required="Email is Required" id="Email" maxlength="50" name="Email" type="email">
                                                <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="Phone">Phone <small>*(Optional)</small></label>
                                                <input class="form-control input" data-val="true" id="Phone" maxlength="15" name="Phone" type="tel">
                                                <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>

                                            </div>

                                            <input type="submit" class="btn btn-success navbar-btn btn-sm pull-right clearfix" value="Send Email">
                                        </form>


                                    </div>
                                </div>
                            </div>             
                        </div>
                    </div>
                </div>
            </div>
            <div class='fade' id='scroll-to-top'>
                <i class='fa-icon-chevron-up'></i>
            </div>
        </div>
    </div>
</div>
