@{
    ViewBag.Title = "FOUNDATION CRACK REPAIR";
}
<div id='main' role='main'>
    <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
        <ul class='slides'>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Stop Seepage Now</h2>
                            <p class='normal fadeInDownBig animated'>Foundation Crack Repair</p>
                            <p class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated'>Send us your photo of your crack</p>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="crack repair" width="405" height="288" src="~/assets/images/crack-repair-01.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Same Day Pricing</h2>
                            <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                            <p class='btn btn-bordered btn-white btn-lg fadeInUpBig animated'>We Fix it Fast</p>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInDownBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/crack-repair-02.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Save your Basement Decor</h2>
                            <p class='normal fadeInDownBig animated'>Exterior Foundation Cracks</p>
                            <p class='btn btn-bordered btn-white btn-lg fadeInUpBig animated'>Does not rip apart interior finishes</p>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/crack-repair-03.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Secure from Water Intrusion</h2>
                            <p class='normal fadeInRightBig animated'>Exterior Foundation Repair</p>
                            <p class='btn btn-bordered btn-white btn-lg fadeInUpBig animated'>Guaranteed for Life</p>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInDownBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/crack-repair-04.jpg" />
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div id='main-content'>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class="clearfix visible-sm"></div>
                            <div class='col-sm-7 panel-item'>
                                <!--   <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-crack icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <h3 class='panel-title'>Foundation Crack Repair </h3>

                                    </div>
                                </div>-->
                                <div class='row panels'>
                                    <div class='panel panel-big'>
                                        <div class='panel-icon'>
                                            <i class='icon-crawlspace icon'></i>
                                        </div>
                                        <div class='panel-body'>
                                            <div class="container">
                                                <h4 class='panel-title'>Foundation Crack Repair</h4>
                                                <p class="lead lead-md">
                                                    We have worked very hard to develop and HAVE SUCCESSFULLY INSTALLED HUNDREDS of seamless, waterproof foam injection used for foundation cracks. Our system permanently locks out the elements that give you trouble: water, moisture, soil gases, rodents, and cold air. <br />
                                                </p>
                                                <p class="lead lead-md">
                                                    Foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                                </p>
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <h3 class="title">Here are the steps we take to be sure its done right the first time:</h3>
                                                        <div class="row">
                                                            <div class='col-sm-2'>
                                                                <div class='circle-stats text-center'>
                                                                    <div class='circle-stat-small'>
                                                                        <div class='circle-stat-wrapper'>
                                                                            <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='33.33'>
                                                                            <h4 class='percent text-center'>1</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='col-sm-10'>
                                                                <h4 class="title">
                                                                    Setting up the foundation crack for the injection process:
                                                                </h4>
                                                                <p>First, we carefully prepare the area around the crack for proper bonding of our two-part epoxy repair paste, which will be used to seal in the hydrophilic injection material.</p>
                                                                <p>Plastic injector ports, used to inject the polyurethane, are strategically pasted along the prepared crack.  Once ports are set, we encapsulate the port and crack with epoxy paste, making sure there are no voids on either side of the crack. </p>
                                                                <p>After a short time, the paste will harden, and we will be ready to install the low pressure injection material.</p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class='col-sm-2'>
                                                                <div class='circle-stats text-center'>
                                                                    <div class='circle-stat-small'>
                                                                        <div class='circle-stat-wrapper'>
                                                                            <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='66.66'>
                                                                            <h4 class='percent text-center'>2</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='col-sm-10'>
                                                                <h4 class="title">Injecting the crack: </h4>
                                                                <p>We start by injecting the foam resin into the lowest port, filling the crack until we see the resin flowing from the next higher port.</p>
                                                                <p>This is how we know the void in the wall in completely filled. We refer to the process as “Over-fill”, because we do not stop injecting until we see the material coming out the next adjacent port.</p>
                                                                <p>We repeat the step above, moving methodically up the foundation crack, filling each port from the bottom up.    </p>
                                                            </div>
                                                        </div>
                                                        <br />
                                                        <div class="row">
                                                            <div class='col-sm-2'>
                                                                <div class='circle-stats text-center'>
                                                                    <div class='circle-stat-small'>
                                                                        <div class='circle-stat-wrapper'>
                                                                            <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='100'>
                                                                            <h4 class='percent text-center'>3</h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class='col-sm-10'>
                                                                <h4 class="title">Final steps:</h4>
                                                                <p>
                                                                    After the crack is fully injected with resin, we do a final inspection of our work.
                                                                </p>
                                                                <p>We clean up our mess, and we are ready to leave.</p>
                                                            </div>
                                                        </div>
                                                        <h3 class="title">Now you have a repaired foundation crack that we can guarantee for life!!!   </h3>
                                                        <br />
                                                        <h5 class="text-center">
                                                            We offer free estimates over the phone. Send us a picture of your foundation crack.
                                                        </h5>
                                                        <h2 class="text-center">Call <a href="tel:17732558649"> 773.255.8649</a></h2>
                                                    </div>
                                                    <div class="col-sm-4 repair-img">
                                                        <br />
                                                        <br />
                                                        <img src="~/assets/images/crack-repair-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='crack repair _ before' alt="foundation crack repair-before" />
                                                        <div class="caption text-center">
                                                            <h4>Typical Foundation Crack</h4>
                                                        </div>

                                                        <img src="~/assets/images/crack-repair-1.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-after" />
                                                        <div class="caption text-center">
                                                            <h4>Install Foam Injection and Plastic Ports</h4>
                                                        </div>
                                                        <img src="~/assets/images/crack-repair-2.jpg" class="img-responsive img-thumbnail img-polaroid" style="max-width: 100%;" alt="foundation crack repair-during" />
                                                        <div class="caption text-center">
                                                            <h4>Resin Injection</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-5 panel-item'>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-first icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <div class="repair-img">
                                            <p class='btn btn-contrast btn-md text-white' href='#contact-form'>EASY-QUOTE SYSTEM AND REPAIR</p>
                                            <br /> <br />
                                            <p class="lead lead-sm blue">
                                                With experience repairing hundreds and hundreds of foundation cracks, you can be sure we will stand behind our lifetime, transferrable guarantee!
                                            </p>
                                            <div class="icon-box text-left">
                                                <div class="content">
                                                    <h3><i class="fa-icon-check-sign green"></i> Photo <small>Send us a picture of the crack</small></h3>
                                                </div>
                                                <div class="content">
                                                    <h3><i class="fa-icon-check-sign green"></i> Price <small>We will guarantee the price - same day</small></h3>
                                                </div>
                                                <div class="content">
                                                    <h3><i class="fa-icon-check-sign green"></i> Schedule <small>Schedule the repair </small></h3>
                                                </div>
                                                <div class="content">
                                                    <h3><i class="fa-icon-check-sign green"></i> Repair <small>We Fix it Fast</small></h3>
                                                </div>
                                                <div class="content">
                                                    <h3><i class="fa-icon-check-sign green"></i> Guaranteed <small>Comes with Lifetime Warranty paperwork</small></h3>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class='col-sm-6'>
                                                    <img src="~/assets/images/crack-repair-05.jpg" class="img-responsive img-thumbnail img-polaroid" alt="foundation crack repair-before" />
                                                    <div class="caption text-center"><h4>Crack - before</h4>
                                                    </div>
                                                </div>
                                                <div class='col-sm-6'>
                                                    <img src="~/assets/images/crack-repair-06.jpg" class="img-responsive img-thumbnail img-polaroid" alt="foundation crack repair-after" />
                                                    <div class="caption text-center"> <h4>Repair - after</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-workers icon'></i>
                                    </div> <div class='panel-body'>
                                        <h3 class='panel-title'>Newsworthy</h3>
                                        <h4>All this Rain causing seepage?</h4>
                                        <h5 class="text-left">  High Tech Waterproofing will stop the seepage in your basement or crawlspace. <br /><br />Send us a photo of your foundation crack to sales@htwaterproofing.com and we will guarantee a quote!<br /><br /> No waiting at home all day for an appointment to get a price you're not happy with. If you like our price, we schedule tech to come out and repair. THAT SIMPLE! </h5>
                                        <h3>GUARANTEED AND TRANSFERRABLE</h3>
                                        <h3 class="green">NOW OFFERING SENIOR AND MILITARY DISCOUNTS</h3>
                                    </div>
                                </div>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-water icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <a href='~/HighTechWaterproofing/#testimonials'>
                                            <h3 class='panel-title'>Our Customers Talk</h3>
                                            <div class="well">
                                                <p class="lead lead-md">
                                                    We have a long list of satisfied customers that have this system installed, so don't forget to ask us for customer referrals, who would be happy to tell you about our service.

                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="testimonials">
            <div class='row'>
                <div class='col-sm-12' style="min-height:400px;">
                    <div class='page-header page-header-with-icon'>
                        <i class='fa-icon-quote-right'></i>
                        <h2>Testimonials</h2>
                    </div>
                    <div class='row quotes'>
                        <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                            <div class='carousel-inner'>
                               
                                <div class='item quote active'>
                                    <div class="col-md-2"></div>
                                    <div class='col-sm-12 col-md-8 text-center'>
                                        <p class="lead">
                                            Your team did a fantastic job.  My wife and I could not be more pleased with the results. <br />
                                            Please pass along my thanks to all the guys on your crew.  Working with High Tech was a great experience from beginning to end.
                                        </p>
                                        <div class='author-wrapper'>
                                            <p class='author'>
                                                <strong>Anthony</strong> from Deerfield, IL
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class='item quote'>
                                    <div class="col-md-2"></div>
                                    <div class='col-sm-12 col-md-8 text-center'>
                                        <p class="lead">Your technician was terrific. He was prompt, helpful and went above and beyond in regards to service and professionalism. </p>
                                        <div class='author-wrapper'>
                                            <p class='author'>
                                                <strong>Suzanne </strong>from Elk Grove Village, IL
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ol class='carousel-indicators'>
                                <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                                <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                           </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>
    </div>
</div>

