@{
    ViewBag.Title = "HIGH TECH WATERPROOFING - Crawlspace Encapsulation with POLYUREA";
}
<div id='main' role='main'>
    <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
        <ul class='slides'>
            
     
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Stop Water Intrusion</h2>
                            <p class='normal fadeInDownBig animated'>Polyurea Coating Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Polyurea-video'>Watch "Polyurea 3-seconds-dry"
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Polyurea Coatings" width="405" height="288" src="~/assets/images/slide-img-5.jpg" />
                        </div>
                    </div>
                </div>
            </li>
           
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInLeftBig animated'>Stop Seepage Now</h2>
                            <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated' href='~/Foundation-Crack-Repair'>
                                Guaranteed for Life
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Foundation Crack Repair" width="405" height="288" src="~/assets/images/slide-img-6.jpg" />
                        </div>
                    </div>
                </div>
            </li>
            <li class='item'>
                <div class='container'>
                    <div class='row pos-rel'>
                        <div class='col-sm-12 col-md-8 animate'>
                            <h2 class='big fadeInUpBig animated'>Guiding Water Away</h2>
                            <p class='normal fadeInDownBig animated'>Basement Drain Tile Systems</p>
                            <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Basement-Drain-Tile-System'>
                                Step-by-step procedure
                            </a>
                        </div>
                        <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                            <img class="img-responsive fadeInUpBig animated" style="position: absolute; bottom: 70px; right: 15px;" alt="Basement Drain Tile Systems" width="405" height="288" src="~/assets/images/Basement-drain-tile.jpg" />
                        </div>
                    </div>
                </div>
            </li>

      </ul>
    </div> 
    <div id='main-content'>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <section id="polyurea-waterproof-encapsulation">
                        <h1>Foundation Crack Repair | Basement Drain Tile</h1>
                       
                    </section>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class="clearfix visible-sm"></div>
                            <div class='col-sm-7 panel-item'>
                                <a class='panel panel-big' href='~/Foundation-Crack-Repair'>
                                    <div class='panel-icon'>
                                        <i class='icon-crawlspace icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <h3 class='panel-title'>Foundation Crack Repair </h3>
                                        <p>
                                            We have worked very hard to develop and HAVE SUCCESSFULLY INSTALLED HUNDREDS of seamless, waterproof polyureathane foam injection used for foundation cracks. Our system permanently locks out the elements that give you trouble: water, moisture, soil gases, rodents, and cold air. <br />
                                            <br />Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.

                                        </p>
                                    </div>
                                </a>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-first icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <h3 class='panel-title'>We are "First" in the Polyurea Industry</h3>
                                        <p>
                                            The benefits of this system are unmatched by anything on the market, we know because we have installed many of the other systems, including concrete and taped plastic vapor barriers. We prefer to offer you the best. You will NOT find another system that can beat this technology.  Seamless, incredibly durable and fast drying, this polyurea is packed with life long benefits.<br />
                                        </p>

                                    </div>
                                    <h3 class="text-center">
                                        For a Free estimate - Call <b><a href="tel:17732558649"> 773-255-8649</a></b>
                                    </h3>
                                </div>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-water icon'></i>
                                    </div>
                                    <div class='panel-body'>
                                        <a href='~/Crawlspace-Encapsulation/#testimonials'>
                                            <h3 class='panel-title'>Our Customers Talk</h3>
                                            <div class="well">
                                                <p class="lead lead-md">
                                                    We have a long list of satisfied customers that have this system installed, so don't forget to ask us for customer referrals, who would be happy to tell you about their new <em>polyurea system.</em>
                                                    <i class='fa-icon-chevron-right'></i>
                                                </p>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class='col-sm-5 panel-item'>
                                <div class='panel panel-big'>
                                    <div class='panel-icon'>
                                        <i class='icon-workers icon'></i>
                                    </div> <div class='panel-body'>
                                        <h3 class='panel-title'>Newsworthy</h3>
                                        <script type="text/javascript" src="//sites.yext.com/118415-posts.js"></script>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='fade' id='scroll-to-top'>
                <i class='fa-icon-chevron-up'></i>
            </div>
        </div>
    </div>
</div>
