@{
    ViewBag.Title = "Index";
}
 <div id='main' role='main'>
        <!-- / carousel image -->
        <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
          <ul class='slides'>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h1 class='big fadeInDownBig animated'>Waterproof. Tight.</h1>
                    <p class='normal fadeInUpBig animated'>Crawlspace Encapsulation</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated' href='~/Home/CrawlspaceEncapsulation'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive img-thumbnail fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Crawlspace Encapsulation" width="450" height="320" src="~/assets/images/slide-img-1.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInLeftBig animated'>Economical. High-tech</h2>
                    <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated' href='~/Home/FoundationCrackRepair'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive img-thumbnail fadeInUpBig animated" style="position:absolute;bottom:35px;right:15px;" alt="Foundation Crack Repair" width="300" height="400" src="~/assets/images/slide-img-2.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <p class='big fadeInUpBig animated'>Guiding Water. Away</p>
                    <h3 class='normal fadeInDownBig animated'>Basement Drain Tile Systems</h3>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='~/Home/BasementDrainTileSystem'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive img-thumbnail fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Basement Drain Tile Systems" width="450" height="320" src="~/assets/images/slide-img-3.jpg" />
                  </div>
                </div>
              </div>
            </li>
               <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInUpBig animated'>Commercial Dry</h2>
                    <p class='normal fadeInDownBig animated'>Water Intrusion for Building Exteriors</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive img-thumbnail fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Water Intrusion for Building Exteriors" width="450" height="320" src="~/assets/images/slide-img-4.jpg" />
                  </div>
                </div>
              </div>
            </li>
               <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-xs-12 col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInUpBig animated'>Lifetime Guarantee</h2>
                    <p class='normal fadeInDownBig animated'>Polyurea Coatings</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive img-thumbnail fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Polyurea Coatings" width="450" height="320" src="~/assets/images/slide-img-5.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
     <div id='main-content'>

        <div class="container">
          <div class="row">
            <div class="col-xs-12" id="mycontent">

                <section id="">
                  <p class='lead lead-lg text-center'>We specialize in waterproofing and encapsulation, and our goal to provide the BEST solutions using the latest techniques and best materials in the industry.</p>
 <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-umbrella icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Crawlspace encapsulation</h3>
                      <p>We offer complete cleanout, waterproofing, and seamless sealing of your ugly crawlspace.  Stop moisture, bad smells and Radon gas!!</p> 
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-rocket icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Foundation crack repair</h3>
                      <p>Polyurethane injection of foundation cracks, stopping seepage in its tracks!</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-cog icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'> Basement drain tile systems</h3>
                      <p>Perimeter breakout of your basement floor and a new water drainage system installed in one day!</p>
                    </div>
                  </a>
                </div>
                  <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                     <i class='fa-umbrella-cog icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Water intrusion systems</h3>
                      <p>Stop water from entering your building through porous masonry walls and roof and parapet systems.</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-cog icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Polyurea Coating Systems</h3>
                      <p>Industrial and residential elastomeric coatings for floors, roofing, masonry, metals, and containment systems.  Longest lasting coatings on the market!!</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-rocket icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>First in the Industry</h3>
                      <p>Finished seamless polyurea liner system, carries lifetime guarantee. We are first in industry!!</p>
                    </div>
                  </a>
                </div>
              </div><hr class="col-md-12">
            </div>    
<div class='panels-wrapper'>
                <div class=' panel-item'>
              <div class='row panels'>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-umbrella icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Encapsulation Solutions for water intrusion:</h3>
                       <ul>   
                        <li class="text-left">Crawlspace Encapsulation
                        </li>
                          <li class="text-left">Basement foundation crack repairs
                        </li>
                          <li class="text-left">Basement floor drain tile systems
                        </li>
                          <li class="text-left">Masonry block and Parapet wall water intrusion designs
                        </li>
                          <li class="text-left">Polyurea coatings for roofing, metal, and concrete
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-tint icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Our staff has expertise in:</h3>
                       <ul>   
                        <li class="text-left">Crawlspace Encapsulation
                        </li>
                          <li class="text-left">Foundation crack repairs
                        </li>
                          <li class="text-left">Basement draintile systems
                        </li>
                          <li class="text-left">Polyurea coating systems
                        </li>
                          <li class="text-left">Sealing porous masonry walls and parapet coping
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
               </div>
              </div>
            </div>                
  </section>
             
             <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-flag-alt icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>No Water Intrusion</h3>
                      <p>Custom commercial Polyurea solution used to encapsulate the exterior walls in a bulk storage used to house raw materials used in food products</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-rocket icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>First in the Industry</h3>
                      <p>Finished seamless polyurea liner system, carries lifetime guarantee. We are first in industry!!</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-cog icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>BEE: Building Envelop Encapsulation</h3>
                      <p>“BEE dry” process oriented solutions designed to handle all types of WATER INTRUSION issues.</p>
                   </div>
                  </a>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-suitcase'></i>
                  <h2>
                    Our last projects
                    <small>Polyurea High-tech Waterproofing</small>
                  </h2>
                </div>
                <div class='row portfolio-boxes'>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-search'></i>
                      <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="http://placehold.it/262x262" />
                    </a>
                    <h3 class='title'>Etiam vestibulum</h3>
                    <p class='category'>Commercial</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-link'></i>
                      <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="http://placehold.it/262x262" />
                    </a>
                    <h3 class='title'>Malesuada</h3>
                    <p class='category'>New Construction</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="http://placehold.it/262x262" />
                      </div>
                      <h3 class='title'>Dictum vulputate</h3>
                      <p class='category'>Flood Zone</p>
                    </a>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="http://placehold.it/262x262" />
                      </div>
                      <h3 class='title'>Semper massa</h3>
                      <p class='category'>Older Home</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>John Doe</strong>,
                              Food Storage Company
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Bee Strong</strong>,
                              Home Owner
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Aenean lorem quam, dapibus et enim vel, ultrices tincidunt tellus. Donec mattis massa et lacus interdum lobortis. Pellentesque habitant morbi tristique senectus. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Miss Daisey</strong>,
                              Apartment Complex
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Integer quis placerat leo, sit amet varius odio. Fusce sollicitudin metus eu eros egestas cursus ut ullamcorper augue. Integer blandit tellus a urna semper, sit amet tempor orci ornare. Mauris nec.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Jane Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='2' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='3' data-target='#carousel-testimonials'></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-certificate'></i>
                  <h2>
                    Product Partners
                    <small>These are the products that we use.</small>
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='client-slideshow cycle-slideshow' data-cycle-carousel-fluid='true' data-cycle-fx='carousel' data-cycle-timeout='2000'>
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="26" src="http://placehold.it/140x26" />
                      <img alt="" width="139" height="32" src="http://placehold.it/139x32" />
                      <img alt="" width="151" height="28" src="http://placehold.it/151x28" />
                      <img alt="" width="31" height="38" src="http://placehold.it/31x38" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
    </div>
         </div>
     </div>
</div>



