@{
    ViewBag.Title = "Index";
}
 <div id='main' role='main'>
        <!-- / carousel image -->
        <div class='hero-carousel carousel-image carousel-image-pagination carousel-image-arrows flexslider' id='carousel-example-2'>
          <ul class='slides'>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h1 class='big fadeInDownBig animated'>Keeps water out. Always</h1>
                    <p class='normal fadeInUpBig animated'>Crawlspace Encapsulation</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInRightBig animated' href='~/Home/CrawlspaceEncapsulation'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Crawlspace Encapsulation" width="450" height="320" src="~/assets/images/slide-img-1.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInLeftBig animated'>Economical. High-tech</h2>
                    <p class='normal fadeInRightBig animated'>Foundation Crack Repair</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInUpBig animated' href='~/Home/FoundationCrackRepair'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive fadeInUpBig animated" style="position:absolute;bottom:35px;right:15px;" alt="Foundation Crack Repair" width="300" height="400" src="~/assets/images/slide-img-2.jpg" />
                  </div>
                </div>
              </div>
            </li>
            <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <p class='big fadeInUpBig animated'>Guiding Water. Away</p>
                    <h3 class='normal fadeInDownBig animated'>Basement Drain Tile Systems</h3>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Basement Drain Tile Systems" width="450" height="320" src="~/assets/images/slide-img-3.jpg" />
                  </div>
                </div>
              </div>
            </li>
               <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInUpBig animated'>Commercial. Tight. Dry</h2>
                    <p class='normal fadeInDownBig animated'>Water Intrusion for Building Exteriors</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Water Intrusion for Building Exteriors" width="450" height="320" src="~/assets/images/slide-img-4.jpg" />
                  </div>
                </div>
              </div>
            </li>
               <li class='item'>
              <div class='container'>
                <div class='row pos-rel'>
                  <div class='col-xs-12 col-sm-12 col-md-8 animate'>
                    <h2 class='big fadeInUpBig animated'>Lifetime Guarantee</h2>
                    <p class='normal fadeInDownBig animated'>Polyurea Coatings</p>
                    <a class='btn btn-bordered btn-white btn-lg fadeInLeftBig animated' href='#'>
                      Show more
                    </a>
                  </div>
                  <div class='col-sm-4 animate pos-sta hidden-xs hidden-sm'>
                    <img class="img-responsive fadeInUpBig animated" style="position:absolute;bottom:50px;right:15px;" alt="Polyurea Coatings" width="450" height="320" src="~/assets/images/slide-img-5.jpg" />
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
     <div id='main-content'>
<div class="container" id="mycontentcon">
    <div class="row">
        <div class="hidden-xs col-sm-3">
            <div class="list-group navbar" id="sidebar">
                <ul class="nav nav-list" id="mynav"  data-spy="affix" data-offset-top="350">
                    <li><a href="#Crawlspace-Encapsulation" class="list-group-item">
                          Crawlspace-Encapsulation
                        </a>
                    </li>
                    <li> <a href="#Foundation-Crack-Repair" class="list-group-item" contenteditable="false">Crack Repair
                        </a>
                    </li>
                    <li> <a href="#c3" class="list-group-item" contenteditable="false">Draintile systems
                        </a>
                    </li>
                    <li> <a href="#c4" class="list-group-item" contenteditable="false">Polyurea Coating Systems
                        </a>
                    </li>
                    <li> <a href="#c5" class="list-group-item" contenteditable="false">Masonry Sealing
                        </a>
                    </li>
                     <li> <a href="#c6" class="list-group-item" contenteditable="false">Project Management
                        </a>
                    </li>
                     <li> <a href="#c7" class="list-group-item" contenteditable="false">Testimonials
                        </a>
                    </li>
                     <li> <a href="#c8" class="list-group-item" contenteditable="false">Photo Gallery
                        </a>
                    </li>
                </ul>
            </div>
        </div>
       <div class="clearfix visible-xs"></div>
        <div class="container">
          <div class="row">



            <div class="col-xs-12 col-sm-9" id="mycontent">

                <section id="Crawlspace-Encapsulation">
                  <p class='lead lead-lg text-center'>We specialize in waterproofing and encapsulation with a company goal to develop and provide the BEST solutions
using the latest techniques and materials in the industry.</p>
     
<div class='panels-wrapper'>
                <div class=' panel-item'>
              <div class='row panels'>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-umbrella icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Encapsulation Solutions for water intrusion:</h3>
                       <ul>   
                        <li class="text-left">Crawlspace Encapsulation
                        </li>
                          <li class="text-left">Basement foundation crack repairs
                        </li>
                          <li class="text-left">Basement floor drain tile systems
                        </li>
                          <li class="text-left">Masonry block and Parapet wall water intrusion designs
                        </li>
                          <li class="text-left">Polyurea coatings for roofing, metal, and concrete
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
                <div class='col-sm-6 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-tint icon'></i>
                    </div>
                    <div class='panel-body'>
                       <h3 class='panel-title'>Our staff has expertise in:</h3>
                       <ul>   
                        <li class="text-left">Crawlspace Encapsulation
                        </li>
                          <li class="text-left">Foundation crack repairs
                        </li>
                          <li class="text-left">Basement draintile systems
                        </li>
                          <li class="text-left">Polyurea coating systems
                        </li>
                          <li class="text-left">Sealing porous masonry walls and parapet coping
                        </li>
                      </ul>
                    </div>
                  </a>
                </div>
                  </div>
                <div class='panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-tint icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>Water Intrusion</h3>
                      <p>It’s the industry term used to define how unwanted water finds its way into a building structure, and most importantly, HOW DO WE STOP IT !
                      </p>
                        <p>Water intrusion takes on many forms in the building, and if left unattended, will cause damage to the structure and 

create unwanted living conditions for its occupants.</p>
                        <p>To combat water intrusion, we have worked with industry leading water intrusion experts to find solutions to the 

multitude of different trouble areas.</p>
                        <p>Based on our experience and research in the building sciences, we have developed a system called BEE-dry. BEE 

stands for Building Envelop Encapsulation, and is the standard to which we install all of our systems. We believe 

that if you first understand the problem in detail, ONLY then can you implement the solution that can be 

GUARANTEED to work.</p>

                        <img src="~/assets/images/slide-img-1.jpg" class="img-responsive img-thumbnail img-polaroid pull-right" style="max-width:50%;" alt="crawlspace waterproofing and encapsulation"/>
                        <p>Contact us today for a free detailed proposal. 773-972-9709 or email us at xxxxxx@nnnnnnnn.com</p>

                    </div>
                  </a>
                </div>
              </div>
            </div>                
                
                
                
                
                
                </section>

                <section id="Foundation-Crack-Repair">	
                <p class='lead text-center'>Foundation Crack Repair</p>
<div class='panels-wrapper'>
                <div class='row panels'>
                    <div class='panel-item'>
                        <a class='panel panel-big' href='#'>
                            <div class='panel-icon'>
                                <i class='fa-icon-tint icon'></i>
                            </div>
                            <div class='panel-body'>
                                <h2 class=""></h2>
                                <h3 class='panel-title'>Polyurethane injection process and LIFETIME GURANTEE </h3>
                                <p class="text-left">Polyurethane foam injection fills the crack or joint with a resin that expands in the presence of moisture. 
                                    </p>
                                <p>
                                    Unlike epoxy, polyurethane foam is flexible enough to accommodate movement in the crack or joint due to changing soil pressures or minor settlement.
                                </p>
                                <p>
                                    Since polyurethane resin systems expand during the injection, less resin is required to accomplish the repair and can be much more economical
to install—especially in wide cracks and loose soil conditions. Wet or actively leaking cracks and joints often will have better results being
injected with polyurethane foam.
                                </p>
                                <p>
                                    For very wide cracks or joints, the polyurethane expanding foam systems will fill the crack and do so with a fraction of the resin that would be
required if epoxy was used. When encountering unusual repairs such as cold joint type leaks or honeycombing, expanding polyurethane grouts
are the material of choice to be able to attack the hidden unknown of these types of repairs.
                                </p>
                                <p>Application</p>
                                <p>
                                    For typical residential applications, our solution can be conveniently applied from the inside of the basement. This eliminates the need for digging
up the outside of the foundation which can be disruptive, time consuming and costly. Our resin systems are available in caulking style cartridges
or dual side-by-side cartridges and injected with low-pressure hand dispensing tools.
                                </p>
                                <p>
                                    First, surface mounted plastic injector ports are glued over the crack with a fast-setting epoxy paste at 10- or 12-inch intervals.
                                </p>
                                <p>
                                    The resin of choice is slowly injected into the lowest port utilizing hand pressure.
The resin will flow into the crack filling from the bottom up and then eventually appear at the next higher port. We move the cartridge up to the
next higher port and resume injecting the resin again, which will ensure we have full internal coverage. This process is repeated until the entire
crack is full and resin starts to flow out the top of the crack. We refer to the process as “Over-fill”, because we do not stop injecting until we see
the material coming out the next adjacent port.
                                </p>
                                <p>
                                    After the injected resin has fully cured, we top coat the injection with hydraulic cement.
                                </p>
                                <p>
                                    Now you have a repaired foundation crack that we can guarantee for life!!!
                                </p>
                            </div>
                        </a>
                    </div>
</div>
        </div>
            
            
            
            
            
            </section>
            
                
                
                
                
             <div class='panels-wrapper'>
              <div class='row panels'>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-flag-alt icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>No Water Intrusion</h3>
                      <p>Custom commercial Polyurea solution used to encapsulate the exterior walls in a bulk storage used to house raw materials used in food products</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-rocket icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>First in the Industry</h3>
                      <p>Finished seamless polyurea liner system, carries lifetime guarantee. We are first in industry!!</p>
                    </div>
                  </a>
                </div>
                <div class='col-sm-4 panel-item'>
                  <a class='panel panel-big' href='#'>
                    <div class='panel-icon'>
                      <i class='fa-icon-cog icon'></i>
                    </div>
                    <div class='panel-body'>
                      <h3 class='panel-title'>BEE: Building Envelop Encapsulation</h3>
                      <p>“BEE dry” process oriented solutions designed to handle all types of WATER INTRUSION issues.</p>
                   </div>
                  </a>
                </div>
              </div><hr class="col-md-12">
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-suitcase'></i>
                  <h2>
                    Our last projects
                    <small>Polyurea High-tech Waterproofing</small>
                  </h2>
                </div>
                <div class='row portfolio-boxes'>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-search'></i>
                      <img class="img-responsive img-rounded center-block" alt="Etiam vestibulum" width="262" height="262" src="http://placehold.it/262x262" />
                    </a>
                    <h3 class='title'>Etiam vestibulum</h3>
                    <p class='category'>Commercial</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
                    <a class='image-link' href='portfolio_detail.html'>
                      <i class='fa-icon-link'></i>
                      <img class="img-responsive img-rounded center-block" alt="Malesuada" width="262" height="262" src="http://placehold.it/262x262" />
                    </a>
                    <h3 class='title'>Malesuada</h3>
                    <p class='category'>New Construction</p>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Dictum vulputate" width="262" height="262" src="http://placehold.it/262x262" />
                      </div>
                      <h3 class='title'>Dictum vulputate</h3>
                      <p class='category'>Flood Zone</p>
                    </a>
                  </div>
                  <div class='col-sm-3 col-xs-6 portfolio-box'>
                    <a href='portfolio_detail.html'>
                      <div class='image-link'>
                        <i class='fa-icon-search'></i>
                        <img class="img-responsive img-rounded center-block" alt="Semper massa" width="262" height="262" src="http://placehold.it/262x262" />
                      </div>
                      <h3 class='title'>Semper massa</h3>
                      <p class='category'>Older Home</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-quote-right'></i>
                  <h2>Testimonials</h2>
                </div>
                <div class='row quotes'>
                  <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                    <div class='carousel-inner'>
                      <div class='item active quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Mauris at ultricies eros. Morbi vel dui nec arcu suscipit euismod. Phasellus pellentesque lectus eget quam ullamcorper consectetur. Vestibulum vitae risus a erat mollis lac in venenatis tellus.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>John Doe</strong>,
                              Food Storage Company
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent accumsan leo tellus. Nulla fringilla elementum nisl, vitae faucibus risus. Donec ut tristique eros. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Bee Strong</strong>,
                              Home Owner
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Aenean lorem quam, dapibus et enim vel, ultrices tincidunt tellus. Donec mattis massa et lacus interdum lobortis. Pellentesque habitant morbi tristique senectus. Curabitur mattis auctor turpis.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Miss Daisey</strong>,
                              Apartment Complex
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class='item quote'>
                        <div class='col-sm-12 text-center'>
                          <p class='lead'>Integer quis placerat leo, sit amet varius odio. Fusce sollicitudin metus eu eros egestas cursus ut ullamcorper augue. Integer blandit tellus a urna semper, sit amet tempor orci ornare. Mauris nec.</p>
                          <div class='author-wrapper'>
                            <p class='author'>
                              <strong>Jane Doe</strong>,
                              Company name
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <ol class='carousel-indicators'>
                      <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='1' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='2' data-target='#carousel-testimonials'></li>
                      <li data-slide-to='3' data-target='#carousel-testimonials'></li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                  <i class='fa-icon-certificate'></i>
                  <h2>
                    Product Partners
                    <small>These are the products that we use.</small>
                  </h2>
                </div>
                <div class='row'>
                  <div class='col-sm-12'>
                    <div class='client-slideshow cycle-slideshow' data-cycle-carousel-fluid='true' data-cycle-fx='carousel' data-cycle-timeout='2000'>
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="33" src="http://placehold.it/140x33" />
                      <img alt="" width="140" height="26" src="http://placehold.it/140x26" />
                      <img alt="" width="139" height="32" src="http://placehold.it/139x32" />
                      <img alt="" width="151" height="28" src="http://placehold.it/151x28" />
                      <img alt="" width="31" height="38" src="http://placehold.it/31x38" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='fade' id='scroll-to-top'>
          <i class='fa-icon-chevron-up'></i>
        </div>
      </div>
    </div>
         </div>
     </div>
</div>



