@{
    ViewBag.Title = "Municipal Waterproof Restoration and Repair";
}

<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="municipal">
                    <h1>Municipal Waterproof Coatings</h1>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-first icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="lead lead-md">
                                                    Polyurea has been a widely used material for over 20 years, and its end applications are only limited by our imaginations. This material holds excellent physical characteristics and properties, and is used today in a rapidly growing number of applications.
                                                    <br />
                                                    <br />
                                                    <img src="~/assets/images/manhole.jpg" class="img-responsive img-thumbnail img-polaroid" title='Manhole before and after Polurea spray' alt="Manhole before and after Polurea spray" />
                                                    <br />
                                                    <br />
                                                    High Tech Waterproofing, LLC is an applicator of multiple polyurea formulations, supplied through a strategic
                                                        partnership with a polyurea manufacturer based in the Midwest. We apply high quality and very competitive formulations that can be used on standard applications, or be tailored to meet application specific needs.
                                                    <br />
                                                    <br />
                                                </p>
                                                <h4 class='panel-title'>Our polyurea coatings are made in the USA!
                                                </h4>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <p>The cracks in this landmark municipal village fountain leaked water, requiring frequent refilling. We are water intrusion experts!  Our seamless Polyurea coating <em>now</em> encapsulates the fountain water permanently!</p>
                                                            <img src="~/assets/images/fountain-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='Polurea spray _ after' alt="Crawlspace after Polyurea spray" />
                                                            <div class="caption">
                                                                <h4>After Polyurea</h4>

                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <img src="~/assets/images/fountain-1.jpg" class="img-responsive img-thumbnail img-polaroid" title='Polurea spray _ before' alt="Crawlspace vefore Polyurea spray" />
                                                            <div class="caption">
                                                                <h4>Before Polyurea</h4>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 repair-img">
                                                <div class="text-right">
                                                    <a href='~/Home/Videos' class='btn btn-contrast btn-md'>Watch Polyurea in action</a>
                                                </div>
                                                <br />
                                                <h3 class='panel-title'>Polyurea Coating Advantages</h3>

                                                <div class="icon-box text-left">
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Seamless <small>(monolithic) waterproof membrane</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Resistance <small>Extremely high puncture and abrasion resistance</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Odorless <small>Volatile free and odorless </small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Fire retardant <small></small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Weather Tolerant <small>Cures at -25ºF to >200ºF even in High Humidity</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Fast reaction times <small>Fast return to service</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Flexible  <small>Bridges Cracks</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Adaptable  <small>Can be applied in any thickness</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Excellent bonding <small>to carefully prepared substrates</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>High chemical resistance  <small></small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Long life expectancy  <small>maintaining physical properties</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Excellent resistance  <small>to shock and vibration</small></h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>Custom colored  <small>to blend with your existing environment</small></h3>
                                                    </div>
                                                </div>

                                                <form action="/Contact/Index" class="navbar-form navbar-left well well-sm text-left" role="form" method="post">

                                                    <div class="form-group">
                                                        <label class="control-label" for="Comment"><span class='fa fa-icon-envelope blue'></span>Tell us about your project</label>
                                                        <textarea class="form-control input" cols="20" id="Comment" maxlength="500" name="Comment" rows="2"></textarea>
                                                        <span class="field-validation-valid" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="Name">Name</label>
                                                        <input class="form-control input" data-val="true" data-val-required="Name is Required" id="Name" maxlength="50" name="Name" type="text">
                                                        <span class="field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="Email">Email <small>*(Always kept private)</small></label>
                                                        <input class="form-control input" data-val="true" data-val-required="Email is Required" id="Email" maxlength="50" name="Email" type="email">
                                                        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>

                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label" for="Phone">Phone <small>*(Optional)</small></label>
                                                        <input class="form-control input" data-val="true" id="Phone" maxlength="15" name="Phone" type="tel">
                                                        <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>

                                                    </div>

                                                    <input type="submit" class="btn btn-success navbar-btn btn-sm pull-right clearfix" value="Send Email">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                    <i class='fa-icon-quote-right'></i>
                    <h2>Testimonial</h2>
                </div>
                <div class='row quotes'>
                    <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                        <div class='carousel-inner'>
                            <div class='item active quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">
                                        I have just completed my inspection of one of your encapsulation systems as part of my water intrusion inspection, using a Flir Thermal Imaging camera.<br />
                                        I found that it is the best example of an encapsulation that I have ever seen. There is a near perfect barrier from moisture intrusion and heat loss.<br />
                                        I have not found and have not been able to assure, as a contractor, for my clients, the kind of protection which is required and just cannot get from any other systems on the market, the kind of protection your system delivers perfectly. 
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            Professional testimonial from <strong>Chuck McKiel</strong>, HSH Inspections, LLC
                                        </p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>


                        </div>
                        <ol class='carousel-indicators'>
                            <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>
