@{
    ViewBag.Title = "Parapet Waterproofing";
}


<div id='main-content'>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <section id="municipal">
                    <h1>Polyurea BEE-Dry Coatings</h1>
                    <div class='panels-wrapper'>
                        <div class='row panels'>
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-first icon'></i>
                                </div>
                                <div class='panel-body'>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="lead lead-md">
                                                    The <span style="font-weight: 500">BEE-Dry Coating</span> and process was designed to solve the multitude of problems found in existing masonry parapet wall construction.
                                                </p>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="caption">
                                                                <h4>Exterior Polyurea Waterproofing in Chicago</h4>
                                                            </div>
                                                            <img src="~/assets/images/bee-dry-brick-1.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ exterior polyurea waterproofing in chicago -1' alt="Parapet before BEE-Dry exterior polyurea waterproofing" />
                                                        <img src="~/assets/images/bee-dry-brick-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ exterior polyurea waterproofing in chicago -2' alt="Parapet BEE-Dry exterior polyurea waterproofing" />
                                                      <img src="~/assets/images/bee-dry-brick-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ exterior polyurea waterproofing in chicago -3' alt="Parapet after BEE-Dry exterior polyurea waterproofing" />                                     
                                                        </div>
                                                        <div class="col-xs-12 col-md-6">
                                                            <div class="icon-box text-left">
                                                                <div class="content">
                                                                    <h5>Common Water Intrusion Issues:</h5>
                                                                </div>
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Failed caulk and tar joints</h5>
                                                                </div><br />
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Failed and leaking mortar joints and seams in coping</h5>
                                                                </div><br />
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Failed roof termination strips</h5>
                                                                </div><br />
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Deteriorated brick mortar joints</h5>
                                                                </div><br />
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Water intrusion into the wall</h5>
                                                                </div><br />
                                                                <div class="content">
                                                                    <h5><i class="fa-icon-warning-sign orange"></i>&nbsp;Water migration into the building</h5>
                                                                </div>
                                  
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                                <p class="lead lead-sm blue">
                                                    These common issues are easily identified on almost all parapet wall constructions, and unless carefully maintained, WILL CAUSE WATER MIGRATION INSIDE THE BUILDING.
                                                    </p>                                              
                                                            <img src="~/assets/images/bee-dry-1.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ before' alt="Parapet before BEE-Dry Encapsulation" />
                                                            <div class="caption">
                                                                <h4>Before BEE-Dry Encapsulation</h4>
                                                            </div> 
                                                            <br />                                                                                                     
                                                            <img src="~/assets/images/bee-dry-2.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ after' alt="Parapet after BEE-Dry Encapsulation" />
                                                            <div class="caption">
                                                                <h4>After BEE-Dry Encapsulation</h4>
                                                            </div>                                                       
                                            </div>
                                            <div class="col-sm-6 repair-img">
                                                <div class="text-right">
                                                    <a href="~/assets/images/High-Tech-PARAPET-BEE-Dry.pdf" class='btn btn-contrast btn-md'>High Tech Parapet BEE-DRY Specifications</a>
                                                </div>
                                                <br />
                                                <h3 class='panel-title'>The BEE-Dry Solution
                                                    <br />
                                                    Best in class guarantees and warrantees. 
                                                </h3>
                                                <p class="lead lead-md">
                                                    The BEE-Dry solution includes the careful inspection, design, and installation of a complete ENCAPSULATION system, designed to permanently solve the issues that cause water intrusion.
                                                </p>

                                                <h3 class='panel-title'></h3>
                                                <div class="icon-box text-left">
                                                    <div class="content">
                                                      <h4>BEE Coating Advantages</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Seamless(monolithic) waterproof encapsulation</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Extremely high puncture and abrasion resistance</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Odorless, Volatile free and odorless</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Fire retardant</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Weather Tolerant: Cures at -25ºF to >200ºF even in High Humidity</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Fast reaction times, fast return to service</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Flexible: Bridges Cracks</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h4><i class="fa-icon-check-sign green"></i>&nbsp;Can be applied in any thickness</h4>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;Excellent bonding to carefully prepared substrates</h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;Eliminates need for caulking</h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;Long life expectancy maintaining physical properties</h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;Excellent resistance to shock and vibration</h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;Can be custom colored</h3>
                                                    </div>
                                                    <div class="content">
                                                        <h3><i class="fa-icon-check-sign green"></i>&nbsp;THIS IS NOT A SEALER - IT IS AN ENCAPSULATION COATING.</h3>
                                                    </div>
                                                </div>
                                                 <div class="caption">
                                                      <h4>Seamless BEE-Dry Integration</h4>
                                                 </div>
                                                 <img src="~/assets/images/bee-dry-3.jpg" class="img-responsive img-thumbnail img-polaroid" title='BEE-Dry _ seamless integration' alt="Parapet after BEE-Dry Seamless Integration" />
                                                                                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    </div>  
                </section>
                 </div>
         </div>
        
        <div class='row'>
            <div class='col-sm-12'>
                <div class='page-header page-header-with-icon'>
                    <i class='fa-icon-quote-right'></i>
                    <h2>Testimonial</h2>
                </div>
                <div class='row quotes'>
                    <div class='carousel carousel-default slide carousel-auto' id='carousel-testimonials'>
                        <div class='carousel-inner'>
                            <div class='item active quote'>
                                <div class="col-md-2"></div>
                                <div class='col-sm-12 col-md-8 text-center'>
                                    <p class="lead">
                                        In this climate, small cracks and gaps are like capillaries, that when exposed to freeze-thaw,
                                        become veins, and then arteries, allowing water intrusion into the building envelop. The
                                        problems associated with failed parapet wall constructions are paramount. This encapsulation
                                        solves the problems associated with parapet walls like no other system I have seen on the market
                                        today. It’s a comprehensive and long term solution that I would highly recommend to all of my clients.
                                    </p>
                                    <div class='author-wrapper'>
                                        <p class='author'>
                                            HSH Inspections, LLC; <strong>Chuck McKiel</strong>, CMI
                                        </p>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                        <ol class='carousel-indicators'>
                            <li class='active' data-slide-to='0' data-target='#carousel-testimonials'></li>
                           
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='fade' id='scroll-to-top'>
        <i class='fa-icon-chevron-up'></i>
    </div>
</div>