@{
    ViewBag.Title = "Videos";
}
      
<div id='main-content'>
    <div class="container">
        <section id="Videos">
                    <h1>Polyurea Videos</h1>
        </section>
    </div>
    <div class="container">
                <div class='panels-wrapper' id="Polyura-spray">
                    <div class='row panels'>
                        <div class="col-sm-12">
                            <div class='panel panel-big'>
                                <div class='panel-icon'>
                                    <i class='icon-workers icon'></i>
                                </div>
                                <div class='panel-body'><div class="row">
                                        <div class='col-sm-2'>
                                            <div class='circle-stats text-center'>
                                                <div class='circle-stat-small'>
                                                    <div class='circle-stat-wrapper'>
                                                        <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='50'>
                                                        <h4 class='percent text-center'>1</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-10'>
                                            <h4 class="title text-left">This is a demonstration of the ease of use of spraying Polyurea.</h4>
                                        </div>
                                    </div>
                                    <div class="span8">
                                      <!--  <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;"> -->
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/d2TaAkOAlHM?rel=0" frameborder="0" allowfullscreen="0"></iframe>                                                              
                                       <!--  </div> -->
                                    </div>

                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
       </div>
    <br />
    <div class='container'>
        <div class='panels-wrapper' id="Polyurea-CMU">
            <div class='row panels'>
                <div class="col-sm-12">
                    <div class='panel panel-big'>
                        <div class='panel-icon'>
                            <i class='icon-intrusion icon'></i>
                        </div>
                        <div class='panel-body'>
                            <div class="row">
                                <div class='col-sm-2'>
                                    <div class='circle-stats text-center'>
                                        <div class='circle-stat-small'>
                                            <div class='circle-stat-wrapper'>
                                                <input class='hidden' data-fgcolor='#8dc153' data-readonly='true' data-stat='circle' data-thickness='0.2' type='text' value='50'>
                                                <h4 class='percent text-center'>2</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='col-sm-10'>
                                    <h4 class="title text-left">This is a demonstration of 3 second drying time and the durability and flexiblilty of Polyurea.</h4>
                                </div>
                            </div>

                            <iframe width="560" height="315" src="//www.youtube.com/embed/bzZvVWekn90?rel=0" frameborder="0" allowfullscreen></iframe>
                      
                        </div>
                    </div>
                </div>
            </div>
     </div>
  </div>
   
        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>   
</div>



