@{
    ViewBag.Title = "Videos";
}
      
<div id='main-content'>
    
<section>
    <div class="container">
        <h1>Polyurea Videos</h1>
        <div class='panels-wrapper' id="Polyurea-spray">
            <div class='row panels'>
                <div class="col-sm-12 col-md-6">
                    <div class='panel panel-big' id="video-1">
                        <div class='panel-icon'>
                            <i class='icon-workers icon'></i>
                        </div>
                        <div class='panel-body'>
                            <h4 class="title text-left">This is a demonstration of seamless vapor barrier. No tape. No cracking. <em>Ever!</em></h4>
                            <div class="flex-video widescreen">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/d2TaAkOAlHM?rel=0" frameborder="0" allowfullscreen="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class='panel panel-big' id="video-2">
                        <div class='panel-icon'>
                            <i class='icon-intrusion icon'></i>
                        </div>
                        <div class='panel-body'>
                            <h4 class="title text-left">This is a demonstration of <em>3-second</em> drying time and the durability and flexiblilty of Polyurea.</h4>
                            <div class="flex-video widescreen">
                                <iframe width="560" height="315" src="//www.youtube.com/embed/bzZvVWekn90?rel=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        <div class='fade' id='scroll-to-top'>
            <i class='fa-icon-chevron-up'></i>
        </div>   
</div>



